<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<%= partial("repositories/repo_header", {
        :repository => repository,
        :project => repository.project,
        :app => Gitorious,
        :active => :admin,
        :header_level => 2
      }) %>
<% @title = "Services for #{repository.slug}" %>
<div class="container">
  <div class="row">
    <div class="span8">
      <h1>Services for <a href="<%= project_repository_path(repository.project, repository) %>"><%= repository.slug %></a></h1>
      <%= services.render %>
    </div>
  </div>
</div>
