<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<div>
  <h2>Sprint.ly</h2>
  <%= partial "services/stats", :services => services, :repository => repository %>

  <form action="" class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label for="email" class="control-label">Email:</label>
        <div class="controls">
          <input type="email" id="email" class="input-xlarge" />
          <p class="help-block">
          Email of your account on sprint.ly. You can check which email address you have registered <a href="https://sprint.ly/account/profile/">on your profile page</a>.
          </p>
        </div>
      </div>
      <div class="control-group">
        <label for="api_key" class="control-label">API Key:</label>
        <div class="controls">
          <input type="text" id="api_key" class="input-xlarge" />
          <p class="help-block">
          API key associated with your account on sprint.ly. You can find it <a href="https://sprint.ly/account/profile/">on your profile page</a>.
          </p>
        </div>
      </div>
      <div class="control-group">
        <label for="product_id" class="control-label">Product ID:</label>
        <div class="controls">
          <input type="text" id="product_id" class="input-xlarge" />
          <p class="help-block">
          If your product URL looks like this: <code>https://sprint.ly/product/12345/#!/</code>, then your product id is <code>12345</code>.
          </p>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label for="active" class="checkbox">Active
            <input type="checkbox" id="active" />
          </label>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Save sprint.ly details</button>
      </div>
    </fieldset>
  </form>
</div>
