<h1><%= t("views.license.show_title") %></h1>
<p>
  <strong><%= t('views.license.terms_accepted') %>:</strong>
</p>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => current_user} -%>
<% end -%>

<div class="eula">
  <%= simple_format(EndUserLicenseAgreement.current_version.contents) %>
</div>

