<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="file-diff-controls">
  <small><a href="#" id="expand-all">expand</a> / 
  <a href="#" id="collapse-all">collapse all</a></small>
</div>

<% diffs.each do |file| -%>
<div class="file-diff">
  <h4>
    <a href="#" class="header" name="<%= h(force_utf8(file.a_path)) -%>">
      <span class="closed"></span><%= h(file.a_path) -%>
    </a>
  </h4>
  <div class="diff-hunks" style="display:none">
    <%= render_diff(file.diff, @diffmode) -%>
  </div>
</div>
<% end -%>
