<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="file-diff-controls">
  <small><a href="#" id="expand-all">expand all</a> / 
  <a href="#" id="collapse-all">collapse all</a></small>
</div>

<% diffs.each do |file| -%>
<% diff_renderer = Diff::Display::Unified.new(file.diff) %>
<div class="file-diff">
  <div class="header round-top-10 closed">
    <span class="title">
      <span class="icon"></span><%= h(file.a_path) -%>
    </span>
    <div class="diff-stats"><%= render_compact_diff_stats(diff_renderer.stats) -%></div>
  </div>
  <div class="diff-hunks" style="display:none">
    <%= render_inline_diff(file.diff, diff_renderer) -%>
  </div>
</div>
<% end -%>
