<div class="message_list_actions">
  <p>Select
    <a href="#" id="toggle_all_messages_checked">All Messages</a>,
    <a href="#" id="toggle_all_unread_messages_checked">All unread messages</a>
  </p>
  <select name="requested_action">
    <option value="">Read</option>
    <option value="archive">Archive</option>
  </select>
  <input type="submit" value="Apply to selected messages" class="btn btn-primary" />
</div>
