<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= form_tag(bulk_update_messages_path) %>
  <table class="message_list">
    <tr>
      <th></th>
      <th>Who</th>
      <th>What</th>
      <th>When</th>
    </tr>
    <% messages.each do |message| %>
        <%= render :partial => message %>
    <% end %>
  </table>

  <div class="message_list_actions">
    <p>Select 
      <a href="#" id="toggle_all_messages_checked">All Messages</a>, 
      <a href="#" id="toggle_all_unread_messages_checked">All unread messages</a>
    </p>
    <select name="requested_action">
      <option value="">Read</option>
      <option value="archive">Archive</option>
    </select>
    <input type="submit" value="Apply to selected messages" />
  </div>
</form>
