<h1><%= h(@message.subject) %></h1>
<%- @message.messages_in_thread.each do |message| -%>
  <%= render :partial => "message_full", :locals => {:message => message} %>
<%- end -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @message} -%>
<% end -%>

<%- content_for(:sidebar) do -%>
  <%= render :partial => "sidebar" %>
<%- end -%>