<h1><%= h(@message.subject) %></h1>
<%= render :partial => @message %>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @message} -%>
<% end -%>

<%- content_for(:sidebar) do -%>
  <%= render :partial => "sidebar" %>
<%- end -%>