<div class="pull-right">
  <%= feed_icon atom_auto_discovery_url %>
</div>
<%= tabbable %w(user-activities), :active => 'user-activities' do %>
  <%= tab_pane :user_activities, :active => true do %>
    <%= render "users/events", :events => events %>
  <% end %>
<% end %>
