<%= pull_box(t("views.site.dashboard.projects"), :class => "your-projects pull-box-390") do %>
  <table class="table">
    <% projects.each do |project| %>
      <tr class="project">
        <td>
          <%= link_to h(project.title), project %>
          <% if favorites.include?(project) %>
            <%= image_tag("silk/star.png", :title => "favorited") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <% if is_current_user?(user) %>
    <div class="pull-box-links">
      <%= link_to(
        %(<i class="icon-plus-sign icon-white"></i> #{t("views.projects.create_new")}).html_safe,
        new_project_path,
        :id => "new-project-button",
        :class => "btn btn-primary") %>
    </div>
  <% end %>
<% end %>
