<%= pull_box(t("views.site.dashboard.repositories"), :class => "your-repositories pull-box-390") do %>
  <% if repositories.blank? %>
    <% if is_current_user?(user) %>
      You currently do not have any repository clones. You can clone a repository you wish to contribute to by going to a repository overview page and clicking the "Clone repository" button in the repository information box.
    <% else %>
      <p class="hint">
        <%=h user.title %> currently does not have any repository clones.
      </p>
    <% end %>
  <% else %>
    <ul class="with_icons">
      <% repositories.each do |repo| %>
        <li class="repository">
          <%= link_to h(repo.url_path), [repo.project, repo] %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
