<%= pull_box('Teams') do %>
  <table class="table">
    <% teams.each do |team| %>
      <tr>
        <td>
          <%= image_tag(team.avatar.url(:thumb), :alt => "Avatar", :width => "16") %>
          <%= link_to h(team.name), group_path(team) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
