<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= render 'merge_requests/show/status', :user => user, :merge_request => MergeRequestPresenter.new(merge_request, self), :source_repo => source_repo, :target_repo => target_repo %>

<%= pull_box merge_request.summary, :class => 'gts-mr-pull-box' do %>
  <%= render('merge_requests/show/options', :merge_request => merge_request) %>
  <% if merge_request.proposal? %>
    <%= description(merge_request, :proposal) %>
  <% else %>
    <p class="muted gts-markup">No description</p>
  <% end %>
<% end %>
