<% @page_title = "Merge requests in #{h(@repository.name)}" -%>
<h1>
  Merge requests in <%=h @repository.name  -%>
</h1>

<% content_for :submenu do -%>
  <%= render :partial => "repositories/context_menu" -%>
<% end -%>

<%= render :partial => "repositories/infobox" -%>

<p class="hint">
  A "merge request" is a notification from one repository to another that
  would like their changes to be merged upstream. 
</p>

<% if @merge_requests.blank? -%>
  <p>
    <em>No merge requests yet</em><br />
  </p>
<% else -%>
  <%= render :partial => @merge_requests -%>
<% end -%>
