<h1>Create a merge request</h1>

<%= error_messages_for :merge_request -%>

<% form_for [@project, @repository, @merge_request] do |f| -%>
  <%= render :partial => "form", :locals => {:form => f} -%>
  
  <%= f.submit "Create merge request" -%>
<% end -%>

<% content_for :submenu do -%>
  <%= render :partial => "repositories/context_menu" -%>
<% end -%>
