*/.DS_Store
.DS_Store
coverage/*
public/cache/*
public/images/graphs/*
config/database.yml
config/gitorious.yml
config/ultrasphinx/*.conf
config/broker.yml
db/schema.rb
db/*.sqlite3
.autotest
db/sphinx/*
doc/api
tmp/repos/*
tmp/graph_generator.status
tmp/poller*.pid
vendor/plugins/activemessaging/doc/*
qtorious.todo
tmp/poller.log
tmp/poller.output
public/javascripts/all.js
#vendor/plugins/*_site
public/images/sites/*
public/stylesheets/sites/*
public/javascripts/sites/*
public/system/avatars