[submodule "public/javascripts/lib/capillary"]
	path = public/javascripts/lib/capillary
	url = https://git.gitorious.org/capillary/capillary-js.git
[submodule "public/javascripts/lib/raphael"]
	path = public/javascripts/lib/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
[submodule "public/javascripts/lib/buster-core"]
	path = public/javascripts/lib/buster-core
	url = https://git.gitorious.org/buster/buster-core.git
[submodule "public/javascripts/lib/spin.js"]
	path = public/javascripts/lib/spin.js
	url = https://github.com/fgnass/spin.js.git
