*/.DS_Store
.DS_Store
coverage/*
public/cache/*
public/images/graphs/*
config/database.yml
config/gitorious.yml
config/ultrasphinx/development.conf
config/ultrasphinx/test.conf
config/ultrasphinx/production.conf
config/ultrasphinx/staging.conf
config/broker.yml
db/schema.rb
db/*.sqlite3
.autotest
db/sphinx/*
tmp/repos/*
tmp/graph_generator.status
tmp/poller*.pid