<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% if !repositories.blank? || defined?(hint) %>
  <%= pull_box(heading, :class => 'repositories-box') do %>
    <% if repositories.blank? %>
      <p class="hint muted"><%= hint %></p>
    <% else %>
      <table class="table">
        <% repositories.each do |repo| %>
          <tr>
            <td class="repository">
              <%= link_to h(repo.url_path), [repo.project, repo] %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= footer.html_safe if defined?(footer) %>
    <% end %>
  <% end %>
<% end %>

