<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<% if !repository.ready? %>
  <%= render(:partial => "repositories/pending", :locals => { :repository => repository }) %>
<% elsif !repository.has_commits? && committers(repository).include?(current_user) %>
  <%= render(:partial => "repositories/getting_started", :locals => { :repository => repository }) %>
<% else %>
  <%= repo_header repository, :current_user => current_user, :ref => ref, :active => :source, :header_level => 2 %>
  <div class="container gts-body">
    <h2><%= @title = "Repository is too big" -%></h2>
    <p>
      We're sorry, but your repository is too big for tarball downloads.
    </p>
  </div>
<% end %>
