<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<%= repo_header repository, :current_user => current_user, :active => :admin, :header_level => 2 %>

<div class="container" id="gts-pjax-container">
  <div class="alert alert-error">
    <%= form_for [repository.project, repository], :html => { :method => :delete, :class => "form-horizontal" } do |f| -%>
      <fieldset>
        <h1><%= @title = "Permanently delete repository #{repository.slug}?" %></h1>
        <p>
          Are you sure you want to delete this repository? There is no going
          back. The repository along with all its meta data will be irrevocably
          removed.
        </p>
        <button class="btn btn-primary" type="submit">I understand; permanently remove this repository</button>
      </fieldset>
    <% end -%>
  </div>
</div>
