<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1><%= t("views.repos.confirm_delete", :repo => @repository.name, :title => h(@owner.title)) %></h1>

<p class="important_message">
  <%= t("views.repos.message_delete") %>
  
  <% form_for [@owner, @repository], :html => {:method => :delete} do |f| -%>
    <%= f.submit(t("views.repos.btn_delete")) -%>
  <% end -%>
</p>

<% content_for :sidebar do -%>
  <ul class="links">
    <li><%= link_to t("views.projects.back"), edit_project_repository_path(@owner, @repository) -%></li>
  </ul>
<% end -%>