<html>
  <head>
    <% if Gitorious.git_http %>
      <meta name="go-import" content="<%= Gitorious.host %>/<%= repository.url_path %> git <%= repository.http_clone_url %>" />
    <% end %>
  </head>
  <body></body>
</html>
