<h2 class="gts-legend">Manage watched items</h2>
<p>
  Here you can manage settings for the items you are watching. Use the on/off
  links to toggle email notifications. Turning email notifications on will send
  you an email each time something from the favorite is put in
  <%= link_to "your news feed", current_user %>.
</p>

<table class="table table-striped" data-behavior="favorites-listing">
  <colgroup>
    <col/>
    <col style="width: 20%"/>
    <col style="width: 20%"/>
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email notifications</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="gts-tbody-actions">
    <% favorites.each do |favorite| %>
      <tr>
        <td>
          <%= link_to_watchable(favorite.watchable) %>
        </td>
        <td class="notification">
          <%= link_to_notification_toggle(favorite) %>
        </td>
        <td class="unwatch">
          <%= link_to_unwatch_favorite(favorite) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
