<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<%= pull_box("Members") do %>
  <% if group.memberships_modifiable_by?(current_user) %>
    <div class="pull-box-header-action">
      <%= link_to new_group_membership_path(group), :class => 'btn btn-primary' do %>
        <i class="icon-plus-sign icon-white"></i>
        Add member
      <% end %>
    </div>
  <% end %>
  <% if memberships.nil? %>
      <p class="hint muted">Member listing was not enabled</p>
  <% elsif memberships.empty? %>
      <p class="hint muted">Team has no members</p>
  <% else %>
    <table class="table">
      <% memberships.each do |membership| %>
        <tr>
          <td>
            <%= avatar(membership.user, :size => 16, :style => "tiny") %>
            <%= link_to h(membership.user.title) + " (#{membership.role.name})", user_path(membership.user) -%>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
