<% form_for @committer, 
  :url => {:controller => "committers", :action => "create"}, :method => :post do |f| -%>
  <p>
    <%= f.label :login, "Existing username" -%><br />
    <%= f.text_field :login -%>
  </p>
<% end -%>