<%= pull_box('Watched', :class => 'watched') do %>
  <% if favorites.blank? %>
    <p class="hint muted">
      <%= no_watchings_notice_for(user) %>
    </p>
  <% else %>
    <div class="filters clearfix">
      <ul class="unstyled">
        <li>
          <strong>Filter by</strong>
        </li>
        <% if is_current_user?(user) %>
          <li>
            <a class="foreign" href="#not-mine">Not yours</a>
          </li>
          <li>
            <a class="mine" href="#mine">Yours</a>
          </li>
        <% end %>
        <li>
          <a href="#merge-requests" class="merge-requests">Merge requests</a>
        </li>
        <li>
          <a href="#repos" class="repositories">Repositories</a>
        </li>
        <li>
          <a href="#all" class="all">All</a>
        </li>
      </ul>
    </div>
    <table class="table">
      <% favorites.each do |favorite| %>
        <tr>
          <td class="<%= css_classes_for(favorite.watchable) %>">
            <%= link_to_watchable(favorite.watchable) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
