<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
  <head>
    <title>Gitorious LDAP configuration wizard</title>
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
