<h2 id="comments">
  Comments
  <form action="#">
    <label for="toggle_inline_comments">Include comments entered inline</label>
    <input type="checkbox" id="toggle_inline_comments" checked="checked" />
  </form>
</h2>

<div class="commentable comments" id="merge_request_comments">
  <%= render :partial => @merge_request.cascaded_comments -%>
</div>

<%= render :partial => "comments/form", :locals => { :parent => @merge_request } -%>
