<table class="table table-striped">
  <% commits.each do |commit| %>
    <tr>
      <td>
        <%= link_to(commit.id[0...7], project_repository_commit_path(repository.project, repository, commit.id)) %>
      </td>
      <td><%= commit.short_message %></td>
    </tr>
  <% end %>
</table>
