<%
  # encoding: utf-8
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<%= help_box(:right) do %>
  <p>
    <%= link_to_function("How to update your merge request", "$('#detailed_merge_request_update_help').toggle()", :class => "more_info") -%>
  </p>
  <div id="detailed_merge_request_update_help" style="display:none;">
    <p>
      To make updates to your merge requests,
      you can either edit it from <%= link_to("this link", :action => :edit) %> or push your changes through git
      Either way, a new version of your merge request will be created, up until the last commit you push.
      You may make as many updates as you like; the last one will always be displayed by default
    </p>
    <pre>
      <%= "git push #{merge_request.target_repository.push_url}:#{merge_request.merge_branch_name}" %>
    </pre>
  </div>
<% end %>
