<%= help_box(:right) do %>
  <p>
    <%= link_to_function("How to update your merge request", "$('#detailed_merge_request_update_help').toggle()", :class => "more_info") -%>
  </p>
  <div id="detailed_merge_request_update_help" style="display:none;">
    <p>
      To make updates to your merge requests,
      you can either edit it from <%= link_to("this link", :action => :edit) %> or push your changes through git
      Either way, a new version of your merge request will be created, up until the last commit you push.
      You may make as many updates as you like; the last one will always be displayed by default
    </p>
    <pre>
      <%= "git push #{@merge_request.target_repository.push_url}:#{@merge_request.merge_branch_name}" %>
    </pre>
  </div>
<% end %>
