<div class="options">
  <ul>
    <%- if @merge_request.user == current_user -%>
      <li><%= button_to t('views.merges.edit_btn'), [:edit, @merge_request.source_repository.project, @merge_request.target_repository, @merge_request], :method => :get %></li>
      <li><%= button_to t('views.merges.delete_btn'), [@merge_request.source_repository.project,
                                                       @merge_request.target_repository,
                                                       @merge_request], :method => :delete, :confirm => 'Are you sure you want to delete this merge request?' %></li>
    <%- end -%>
    <li><%= favorite_button(@merge_request) %></li>
  </ul>
</div>
