<%
  # encoding: utf-8
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<div class="options">
  <div class="btn-group">
    <% if merge_request.user == current_user %>
      <%= link_to t('views.common.edit'),
        [:edit, merge_request.source_repository.project, merge_request.target_repository, merge_request],
        :class => 'btn' %>
      <%= link_to t('views.common.delete'),
        [merge_request.source_repository.project, merge_request.target_repository, merge_request],
        :method => :delete,
        :data => { :confirm => 'Are you sure you want to delete this merge request?' },
        :class => 'btn' %>
    <% end %>
    <%= favorite_button(merge_request) %>
  </div>
</div>
