<%= cache_in_private([:site_index, :active_clones], :expires_in => 25.minutes) do %>
  <%= pull_box("Most active repository clones", :class => "pull-box-510") do %>
    <table class="table">
      <% @top_repository_clones.each do |repo| %>
        <% project = repo.project %>
        <tr class="repository">
          <td>
            <%= link_to(project.slug, project, :title => project.title) %>
            /
            <%= link_to(h(repo.title), project_repository_path(project, repo),
                        :title => h(strip_tags(repo.description))) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
