<%= cache_in_private([:site_index, :active_users], :expires_in => 20.minutes) do %>
  <%= pull_box("Active users") do %>
    <table class="table">
      <tbody>
        <% @active_users.each do |user| %>
          <tr>
            <td>
              <%= avatar(user, { :size => 16 }) %>
              <%= link_to h(user.title), user %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
