<%= cache_in_private([:site_index, :active_teams], :expires_in => 15.minutes) do %>
  <%= pull_box("Active teams") do %>
    <table class="table">
      <% @active_groups.each do |group| %>
        <tr>
          <td>
            <%= image_tag(group.avatar.url(:thumb), :alt => "Avatar", :width => "16") %>
            &nbsp;
            <%= link_to h(group.title), group %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
