<%= cache_in_private([:site_index, :active_projects_recently], :expires_in => 1.hour) do -%>
  <%= pull_box("Active projects", :class => "pull-box-510") do -%>
    <ul class="with_icons">
      <% @active_projects.each do |project| -%>
        <li class="project">
          <%= link_to h(project.title), project -%>
          <small class="hint"><%= truncate(h(project.stripped_description), :length => 65) -%></small>
        </li>
      <% end -%>
    </ul>
  <% end -%>
<% end -%>
