<%= pull_box(nil, :class => "expose") do -%>
  <p>
    Gitorious provides <a href="/gitorious">open source</a> infrastructure
    for open source projects which use Git.
    <small><a href="/about">Read more&hellip;</a></small>
  </p>
<% end %>
