#sidebar ul.links.navigation li.new_project a {
	background: url("../images/silk/report_add.png") no-repeat 10px 9px;
} 

.pull-box-links #new-project-button a {
	background-image: url("../images/silk/report_add.png");
}
.button.add_link a {
	background-image: url("../images/silk/add.png");
}

.repository-link a, .pull-box-links a, .button a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-weight: bold;
	color: #555555;
	font-size: 11px;
	text-shadow: 0px 1px #FFF;
	padding: 4px 8px 1px 28px;
	display: block;
	float: left;
	line-height: 20px;
	height: 21px;
	margin-right: 5px;
	margin-bottom: 1px;
	background: #e8e8e8 no-repeat 7px 5px;
	-webkit-box-shadow: 0px 1px 0px #FFF inset;
	-moz-box-shadow: inset 0px 1px 0px #FFF;
	border: 1px solid #b5b5b5;
}
.button.right a {
	float: right;
}

.repository-link a:hover, .pull-box-links a:hover, .button a:hover {
	color: #535353;
	text-shadow: 0px 1px #eaeaea;
	text-decoration: none;
	-webkit-box-shadow: 0px 1px 0px #eaeaea inset;
	-moz-box-shadow: inset 0px 1px 0px #eaeaea;
	background-color:#cdcdcd;
}
.repository-link a:active, .pull-box-links a:active, .button a:active {
	background-color:#c3c3c3;
}

.repository-link.favorite, .repository-link.favorite a {
	float: right;
	margin-right: 0;
}
.repository-link.favorite a.enabled {
	background: #e8e8e8 url("../images/silk/star.png") no-repeat 6px 4px;
}
.repository-link.favorite a.disabled {
	background: #e8e8e8 url("../images/silk/star_deselected.png") no-repeat 6px 4px;
}
.repository-link.favorite a.waiting {
	background: #e8e8e8 url("../images/spinner.gif") no-repeat 6px 4px;
}
.repository-link.favorite a:hover {
	background-color: #cdcdcd;
}

form .message_list_actions input[type='submit'] {
	font-size: 11px;
	padding: 1px 6px 1px;
	display: inline;
	height: 24px;
}
form input[type='submit'] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-weight: bold;
	color: #924800;
	font-size: 13px;
	text-shadow: 0px 1px #ffc59b;
	padding: 6px 10px 7px;
	display: block;
	float: left;
	line-height: 20px;
	height: 33px;
	margin-right: 5px;
	margin-bottom: 1px;
	-webkit-box-shadow: 0px 1px 0px #ffc59b inset;
	-moz-box-shadow: inset 0px 1px 0px #ffc59b;
	background-color: #ffb063;
	border: 1px solid #ce7219;
	cursor: pointer;
}
form input.preview[type='button'] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-weight: bold;
	color: #555;
	font-size: 13px;
	text-shadow: 0px 1px #F8F8F8;
	padding: 6px 10px 7px;
	display: block;
	float: left;
	line-height: 20px;
	height: 33px;
	margin-right: 5px;
	margin-bottom: 1px;
	-webkit-box-shadow: 0px 1px 0px #F8F8F8 inset;
	-moz-box-shadow: inset 0px 1px 0px #F8F8F8;
	background-color: #E1E1E1;
	border: 1px solid #CCC;
	cursor: pointer;
}
form input.cancel[type='button'] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-weight: bold;
	color: #d7492f;
	font-size: 13px;
	text-shadow: 0px 1px #F8F8F8;
	padding: 6px 10px 7px;
	display: block;
	float: left;
	line-height: 20px;
	height: 33px;
	margin-right: 5px;
	margin-bottom: 1px;
	-webkit-box-shadow: 0px 1px 0px #F8F8F8 inset;
	-moz-box-shadow: inset 0px 1px 0px #F8F8F8;
	background-color: #E1E1E1;
	border: 1px solid #CCC;
	cursor: pointer;
}
form input[type='submit']:hover {
	background: #f49c46;
}
form input[type='button']:hover {
	background: #d1d1d1;
}
