#container #content {
    width: 920px;
    float: left;
    padding: 20px;
}

/* Content width: 790px */

#container #content.with_sidebar {
    float: left;
    width: 640px;
    padding: 23px 20px;
}

.content-container {
    float: left;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.w-750 {
    width: 640px;
}
.w-730 {
    width: 620px;
}
.w-510 {
    width: 510px;
}
.w-365 {
    width: 365px;
}

#left.w-510 {
    width: 510px;
}
#left.w-365 {
    width: 310px;
    float: left;
}
#right.w-365 {
    width: 310px;
    float: right;
}
#right.w-390 {
    width: 390px; /* Alternative width for 960. Goes well with a w-510 left */
}

.box {
    float: left;
    padding: 10px;
    margin: 15px 0px;
}
.light-gray {
    background: #eee;
}
.rounded {
    -webkit-border-radius: 6px;
}

/* PROJECT PAGE */

#project-description {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
#project-description h1 {
    font-size: 24px;
}
#project-description p, #project-description ol, #project-description ul {
    font-size: 13px;
    color: #5a6269;
    line-height: 18px;
}
#project-description p:first-child {
    margin-bottom: 3px;
}
#project-description span.read-more, #project-description span.re-collapse {
    float: right;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 1px #FFF;
}

.repository_meta {
    -webkit-border-radius: 6px;
    width: 640px;
    float: left;
    -moz-border-radius: 6px;
    margin: 0px 10px 20px 0;
    background: #e7e7e7;
    -webkit-box-shadow: 0px 1px #FFF inset;
    border: 1px solid #d5d5d5;
}

.repository_meta h3 img {
    display: inline;
    margin-top: 2px;
    margin-right: 0px;
}

.repository-info {
    width: 610px;
    float: left;
    padding: 15px;
    font-size: 12px;
/*	background: url(../img/repos-bg.png) bottom repeat-x; */
}

.repository_meta h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: normal;
    text-shadow: 0px 1px #FFF;
}

.repository_meta .infobox {
    background: #d9d9d9;
    width: 602px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 1px solid #c5c5c5;
    font-size: 11px;
    float: left;
    padding: 0px 0px 0px 8px;
    background: url(../img/clone-bg.png) repeat-x;
}

.repository_meta .infobox ul li form strong {
    border-right: 1px solid #cccccc;
    text-shadow: 0px 1px #eee;
    padding: 6px 9px 1px 19px;
    float: left;
    height: 21px;
    font-size: 11px;
    background: url(../images/silk/link.png) no-repeat 0px 7px;
}

.repository_meta .infobox ul li form p {
    float: left;
    text-shadow: 0px 1px #eee;
    margin: 0;
    height: 28px;
}
.repository_meta .infobox ul li form p input[type=radio] {
    position: relative;
    left: -4px;
    top: 1px;
}
.repository_meta .infobox ul li form p.clone_radio {
    border-right: 1px solid #cccccc;
    background: url(../img/clone-url-bg.png) repeat-x;
    padding: 6px 9px 1px 7px;
    height: 21px;
}
.repository_meta .infobox input[type=text] {
    line-height: 20px;
    border: 0;
    background: #FFF;
    /*	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px; */
    /*	padding: 4px 6px; */
    padding:7px 4px 1px 6px;
    height: 20px;
}

.repository_meta .infobox a.clone-help-toggler {
    margin-left: 5px;
    color: #080;
}

.repository_meta .infobox .clone-help-text {
    clear:both;
    padding: 10px 10px 0 10px;
}
.repository_meta .infobox p.clone-copy {
    float: left;
    overflow: hidden;
}

.repository_meta .infobox p.clone-copy.git_http_ssh {
    width: 295px;
}
.repository_meta .infobox p.clone-copy.git_http_ssh input[type="text"] {
    width: 270px;
}

.repository_meta .infobox p.clone-copy.git_http {
    width: 355px;
}
.repository_meta .infobox p.clone-copy.git_http input[type="text"] {
    width: 330px;
}

.repository_meta .infobox p.clone-copy.git_ssh {
    width: 360px;
}
.repository_meta .infobox p.clone-copy.git_ssh input[type="text"] {
    width: 335px;
}

.repository_meta .infobox p.clone-copy.git {
    width: 415px;
}
.repository_meta .infobox p.clone-copy.git input[type="text"] {
    width: 390px;
}

.repository_meta .infobox p.clone-copy.http_ssh {
    width: 350px;
}
.repository_meta .infobox p.clone-copy.http_ssh input[type="text"] {
    width: 325px;
}

.repository_meta .infobox p.clone-copy.http {
    width: 410px;
}
.repository_meta .infobox p.clone-copy.http input[type="text"] {
    width: 385px;
}

.repository_meta .infobox p.clone-copy.ssh {
    width: 415px;
}
.repository_meta .infobox p.clone-copy.ssh input[type="text"] {
    width: 390px;
}

.repository_meta .infobox p.clone-copy {
    width: 470px;
}
.repository_meta .infobox p.clone-copy input[type="text"] {
    width: 445px;
}

.repository_meta .infobox ul li form p label {
    cursor: pointer;
    float: left;
    font-size: 11px;
    line-height: 18px;
    height: 20px;
    padding-left: 5px;
}
.repository_meta .repository-links {
    width: 624px;
    padding: 8px;
    height: 29px;
    float: left;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    background: url(../img/repos-link-bg.png) repeat-x;
}

/* LINKS */

/* Events */

ul.events {
    float: left;
}
ul.events li {
    float: left;
}

/* Round corners with a small bevel
   .events .date {
   background: #eeeeee;
   padding: 7px 8px 4px;
   -webkit-border-radius: 6px;
   border: 1px solid #dfdfdf;
   -webkit-box-shadow: 0px 1px 0px #FFF inset;
   color: #626262;
   font-weight: bold;
   text-shadow: 0px 1px #FFF;
   margin: 0;
   margin-bottom: 9px;
   font-size: 12px;
   }
   */

.events .date {
    background: #e4e4e4;
    padding: 7px 10px 4px;
    -webkit-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    color: #737373;
    font-weight: bold;
    text-shadow: 0px 1px #FFF;
    margin: 0;
    margin-bottom: 9px;
    font-size: 12px;
}
.events.w-750 .date {
    width: 620px;
}
.events.w-510 .date {
    width: 490px;
}

.events.inline {
    margin-left: 0;
    margin-bottom: 0;
}

.events .event_instances, .events .event_instance {
    margin: 0;
    margin: 0px 0px 0px 5px;
    background: 0 no-repeat;
    float: left;
    padding-bottom: 0px;
    clear: both;
}

.events.inline .event_instance {
    background-image: none !important;
    clear: both;
    margin: 0;
    margin-bottom: 10px;
}
.event_instance.push .event_instance {
    margin-bottom: 0;
}
.events ul.event_instances {
    margin: 5px 0px 10px;
}
.event_instance p {
    margin: 0;
    margin-bottom: 8px;
}

.events .event_instances strong, .events .event_instance strong {
    color: #555;
}

.events .event_instance .event_date {
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 11px;
    color: #898989;
}
.events.w-750 .event_instance .event_date {
    width: 50px;
}
.events.w-510 .event_instance .event_date {
    width: 40px;
}

.events.inline .event_instance .event_date {
    padding-right: 10px;
    margin-bottom: 0;
}
.events.inline.w-750 .event_instance .event_date {
    width: 77px;
}
.events.inline.w-510 .event_instance .event_date {
    width: 40px;
}

.events .event_instance img {
    float: left;
    margin-top: 0 px;
}

.events .event_instance .event_meta p.event_action .commit_message {
    font-size: 11px;
    margin: 0px 0px 0px 5px;
}
.events .event_instance .event_meta .event_action {
    font-size: 12px;
}

.events .event_instance .event_meta {
    margin: 0 0 0px 5px;
    float: left;
}

.events.w-510 .event_instance .event_meta {
    width: 440px;
}
.events.w-750 .event_instance .event_meta {
    width: 450px;
}

.events .event_instance .event_meta .meta_body, .comments .comment .meta_body {
    font-size: 12px;
}
span.changed {
    background: #E0EFCF;
    padding: 1px 2px 1px 2px;
}

.events.inline .event_instance .event_meta {
    margin: 0 0px 20px 112px;
    text-align: left;
}

.events .event_instance.relative .event_meta {
    margin: 0 0px 0 30px;
}
.events .event_instance.relative .relative_date {
    font-size: 11px;
    color: #555;
    float: right;
}

.events.inline .event_instance .event_meta * > p {
    text-align: left;
}

.events .event_instance .event_category {
    float: left;
    min-width: 110px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    height: 16px;
    color: #fff;
    text-indent: -9999px;
    background: #FFF url(../img/events.png) no-repeat;
}
.events .event_instance .event_category.push {
    background-position: 0px 0px;
}
.events .event_instance .event_category.project {
    background-position: 0px -16px;
}
.events .event_instance .event_category.favorite {
    background-position: 0px -32px;
}
.events .event_instance .event_category.merge_request {
    background-position: 0px -48px;
}
.events .event_instance .event_category.comment {
    background-position: 0px -64px;
}
.events .event_instance .event_category.commit {
    background-position: 0px -80px;
}
.events .event_instance .event_category.repository {
    background-position: 0px -96px;
}

.events.inline .event_instance .event_category {
    width: 0;
    display: none;
    margin: 0;
    padding: 0;
}

.events a.event-author {
    color: #666;
}

/* USER PROFILE */

.user-profile {
    float: left;
    width: 490px;
    background: #F8F8F8;
    border: 1px solid #eee;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.user-profile.not-dash {
    background: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #EEE;
}
.user-profile .buttons li {
    margin-bottom: 3px;
    float: left;
}
.user-profile .buttons li a {
    width: 130px;
}
.user-profile .buttons {
    float: right;
    width: 170px;
}

#user_events.w-510 ul.events .event_meta {
    width: 330px;
}
#user_events.w-510 .pagination {
    width: 510px;
}

/* MERGE REQUESTS */

.options {
    float: right;
    background: #F8F8F8;
    padding: 6px 6px 6px 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.options ul li {
    line-height: 20px;
    float: left;
    margin-left: 5px;
}
.options form.button-to div, .options form.button-to div input, .options form.button-to div input[type="submit"] {
    margin-right: 0;
    margin: 0;
}

.options li form.button-to {
    float: left;
    width: auto;
}

.options li form.button-to div,
.options li form.button-to div input,
.options li .repository-link,
.options li .repository-link.favorite a {
    float: left;
}

/* SEARCH PAGE */
.search_bar_results {
    width: 600px;
    float: left;
    margin-bottom: 10px;
}
.search_results {
    width: 640px;
    float: left;
}
.search_bar_results form p input.search-field {
    float: left;
    padding: 9px;
    margin-right: 5px;
}
#search_help {
    width: 300px;
    float: right;
}

.wiki_cloning_instructions {
}

/* Branch graph */
.capillary {
    overflow: hidden;
    white-space: nowrap;
}

#capillary-log.loading {
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

#capillary-log.loading span {
    padding: 0 0 0 12px;
}

.capillary li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.capillary .ref-name {
    background: #ddd;
    color: #4e4e4e;
    border-radius: 4px;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0 5px;
}

.capillary .ref-type-tag {
    background: #eeb;
}

.capillary a.ref-name:hover {
    text-decoration: underline;
}

.capillary li .msg {
    color: #696969;
}

.capillary li a:hover {
    text-decoration: underline;
}
