@import url(reset.css);
* { margin: 0; }
html { -webkit-font-smoothing: antialiased; }
html, body { height: 100%;}

body {
    background: #848585;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #616060;
    font-weight: normal;
}

a { color: #d57f2b; text-decoration: none; cursor: pointer;}
a:hover { color: #aa5a0d; text-decoration: none; }
.clear { clear: both; }

#wrapper {
    width: 100%;
    float: left;
    background: url(../img/external/top-bg.png) repeat-x #FFF;
}

#top-wrapper {
    width: 960px;
    margin: 0 auto;
}

body#users #wrapper,
body#sessions #wrapper {
    background: url(../img/external/ext-form-bg.png) repeat-x #848585;}

#container {
    width: 100%;
    float: left;
}

#site #content-container {
    width: 100%;
    float: left;
    padding-bottom: 20px;
    margin-top: -7px;
    background: url(../img/external/content-bg.png) repeat-y center;
}

#site #content-container #content {
    width: 960px;
    margin: 0 auto;
    float: none;
}

#sessions .content-container,
#users .content-container {
    margin: 0 auto;
    width: 960px;
}

#top {
    height: 45px;
    padding: 20px 0px 5px;
    border-bottom: 1px solid #2f2f2e;
    width: 960px;
    margin: 0 auto;
}

#top #logo h1 {
    width: 136px;
    height: 45px;
    background: url(../img/external/logo.png) no-repeat;
    float: left;
}

#top #logo h1 a {
    width: 136px;
    height: 33px;
    display: block;
    float: left;
    text-indent: -9999px;
}

#top #logo h1 a:active {
    margin-top: 1px;
}

#top #menu {
    float: right;
    padding-top: 13px;
}

#top #menu li {
    float: left;
    margin-left: 28px;
}

#top #menu li a {
    background: url(../img/external/menu.png) no-repeat;
    height: 11px;
    float: left;
    display: block;
    text-indent: -9999px;
}

#top #menu li a:active {
    margin-top: 1px;
}

#top #menu li.home a { background-position: 0px -22px; width: 40px; }
#top #menu li.home.active a { background-position: 0px -11px; }
#top #menu li.home a:hover { background-position: 0px 2px; }
#top #menu li.blog a { background-position: -70px -22px; width: 35px; }
#top #menu li.blog.active a { background-position: -70px -11px; }
#top #menu li.blog a:hover { background-position: -70px 2px; }
#top #menu li.about a { background-position: -100px -22px; width: 48px; }
#top #menu li.about.active a { background-position: -100px -11px; }
#top #menu li.about a:hover { background-position: -100px 2px; }
#top #menu li.faq a { background-position: -290px -22px; width: 29px; }
#top #menu li.faq.active a { background-position: -290px -11px; }
#top #menu li.faq a:hover { background-position: -290px 2px; }
#top #menu li.contact a { background-position: -275px -22px; width: 64px; }
#top #menu li.contact.active a { background-position: -275px -11px; }
#top #menu li.contact a:hover { background-position: -275px 2px; }
#top #menu li.explore a { background-position: -161px -22px; width: 61px; }
#top #menu li.explore.active a { background-position: -161px -9px; }
#top #menu li.explore a:hover { background-position: -161px 2px; }
#top #menu li.register a { background-position: -350px -22px; width: 66px; }
#top #menu li.register.active a { background-position: -350px -11px; }
#top #menu li.register a:hover { background-position: -350px 2px; }
#top #menu li.login a { background-position: -428px -22px; width: 48px; }
#top #menu li.login.active a { background-position: -428px -11px; }
#top #menu li.login a:hover { background-position: -428px 2px; }
#top #menu li.contact { border-right: 1px solid #333; padding: 1px 0px 4px; padding-right: 20px;}
#top #menu li.register { margin-left: 20px; }

#header {
    width: 960px;
    float: left;
    position: relative;
}

#header #introduction {
    width: 450px;
    float: left;
    height: 222px;
    padding-top: 45px;
    background: url(../img/external/header-bg.png) no-repeat;
}

#header #introduction h2 {
    width: 447px;
    height: 74px;
    text-indent: -9999px;
    float: left;
    background: url(../img/external/header.png) no-repeat;
}

#header #introduction p {
    line-height: 24px;
    width: 450px;
    float: left;
    color: #989898;
}

#header #introduction p a {
    color: #d4d4d4;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 2px;
}

#header #introduction p a:hover { color: #fff; }

#header #introduction p.description {
    margin-top: 18px;
    font-size: 18px;
    background: url(../img/external/description.png) no-repeat;
    text-indent: -9999px;
    width: 374px;
    height: 36px;
}

#header #introduction p.directions {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
}

#header #screenshots-rotator {
    padding-top: 32px;
    width: 440px;
    height: 310px;
    position: relative;
    float: right;
}

#header #screenshots-container {
    float: right;
    width: 440px;
    height: 310px;
    overflow: hidden;
}

#header #screenshotsnavigation {
    position: absolute;
    top: 321px;
    float: left;
    z-index: 999;
    left: 190px;
}

#header #screenshotsnavigation a{
    width: 8px;
    height: 8px;
    text-indent: -9999px;
    float: left;
    display: block;
    background: url(../img/external/screens-nav.png) no-repeat;
    margin: 0px 4px;
}

#header #screenshotsnavigation a:hover { background-position: -16px 0px; }
#header #screenshotsnavigation a.activeSlide { background-position: -8px 0px; }

#header #call-to-actions {
    width: 500px;
    height: 33px;
    float: left;
    padding: 13px 0px 27px;
}

#header #call-to-actions ul li { display: inline; }

#header #call-to-actions ul li#sign-up {
    width: 186px;
    height: 46px;
    float: left;
    background-position: 0 0;
}

#header #call-to-actions ul li#sign-up a {
    width: 186px;
    height: 46px;
    float: left;
    display: block;
    text-indent: -9999px;
    background: url(../img/external/call-to-action.png) no-repeat 0 0;
}

#header #call-to-actions ul li#sign-up a:hover { background-position: -187px 0px; }
#header #call-to-actions ul li#sign-up a:active { background-position: -374px 0px; }

#header #call-to-actions ul li#or {
    margin: 18px 20px 15px 20px;
    width: 69px;
    height: 13px;
    float: left;
    text-indent: -9999px;
    background: url(../img/external/call-to-action.png) no-repeat -0px -107px;
}

#header #call-to-actions ul li#log-in {
    width: 104px;
    height: 46px;
    float: left;
    background-position: 0 0;
}

#header #call-to-actions ul li#log-in a {
    width: 104px;
    height: 46px;
    float: left;
    display: block;
    text-indent: -9999px;
    background: url(../img/external/call-to-action.png) no-repeat 0px -48px;
}

#header #call-to-actions ul li#log-in a:hover { background-position: -187px -48px; }
#header #call-to-actions ul li#log-in a:active { background-position: -374px -48px; }

.features-wrapper {
    float: left;
    width: 100%;
    padding-bottom: 15px;
    overflow: hidden;
    padding-top: 25px;
    background: url(../img/external/feature-bg.png) repeat-x left bottom #ececec;
}

.fp-highlight {
    margin: 0 auto;
    width: 960px;
}

.fp-highlight h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}

#features {
    background: url(../img/external/features-header.png) no-repeat;
    height: 21px;
    text-indent: -9999px;
}

.fp-highlight ul {
    float: left;
    overflow: visible;
    padding-top: 25px;
    width: 960px;
}

.fp-highlight li {
    background: 0 10px no-repeat;
    float: left;
    width: 269px;
    margin-right: 5px;
    height: 90px;
    padding-left: 46px;
}

.fp-highlight ul li p {
    width: 260px;
    font-size: 12px;
    line-height: 17px;
    margin-top: 6px;
    float: left;
}

.fp-highlight p a.all-features {
    width: 151px;
    height: 66px;
    float: right;
    margin-top: 20px;
    display: block;
    text-indent: -9999px;
    background: url(../img/external/call-to-action.png) no-repeat -0px -141px;
    display: none;
}

.fp-highlight p a.all-features:hover { background-position: -187px -141px; }
.fp-highlight p a.all-features:active { background-position: -374px -141px; }

.fp-highlight ul h4 {
    font-family: 'Nobile', arial, serif;
    letter-spacing: 1px;
    color: #444;
}

.fp-highlight h4 a,
.fp-highlight h4 a:hover,
.fp-highlight h4 a:active {
    color: #444;
}

.commercial {
    border-top: 1px solid #dcdcdc;
    clear: left;
    padding-top: 30px;
}

.commercial h3 {
    border: none;
    color: #000;
    margin: 0 0 1em;
    padding: 0 0 0;
}

.commercial h4 {
    font-size: 0.9em;
    letter-spacing: 0;
}

.commercial ul {
    padding-top: 0;
}

.commercial li {
    height: auto;
    padding-bottom: 20px;
}

#project-hosting { background-image: url(../img/external/icons/server_database.png); }
#activity-monitoring { background-image: url(../img/external/icons/feed.png); }
#public-merge-requests { background-image: url(../img/external/icons/arrow_in.png); }
#project-centric { background-image: url(../img/external/icons/database.png); }
#team-contributions { background-image: url(../img/external/icons/team-contributions.png); }
#project-wikis { background-image: url(../img/external/icons/project-wikis.png); }

.fp-highlight ul.expanded-feature-list {
    padding-top:  22px;
    margin-top: 15px;
    float: left;
    width: 900px;
    height: 130px;
}

#content {
    width: 960px;
    float: left;
    padding-top: 30px;
    margin-top: -7px;
    padding-bottom: 20px;
}

#users #content, #sessions #content {
    background: 0;
}

#content .column {
    float: left;
    width: 300px;
    padding-left: 25px;
    margin-right: 25px;
}

#content #user-testimonials { width: 345px; border-left: 0;}
#content #featured-projects { width: 280px;}
#content #from-the-blog { width: 185px;}

#content .column h3 {
    float: left;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
    padding-bottom: 10px;
    font-family: 'Nobile', arial, serif;
    background: none;
    text-indent: 0;
    letter-spacing: 1px;
    color: #444;
    text-transform: uppercase;
}

#content .column .search label {
    color: #6f6f6f;
    font-size: 14px;
    display: block;
    margin-bottom: 1em;
}

#content .column .search form {
    height: auto;
    width: auto;
}

#content .column .search form p {
    margin-bottom: 2em;
    clear: left;
}

#content #user-testimonials .testimonial {
    float: left;
    margin-bottom: 5px;
    padding-bottom: 40px;
    width: 345px;
    background: url(../img/external/block-bg.png) bottom no-repeat;
}

#content #user-testimonials blockquote {
    width: 345px;
    font-family: Georgia, Times, serif;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    color: #6f6f6f;
}

#content #user-testimonials cite {
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    font-style: normal;
    width: 345px;
    color: #7f7f7f;
    float: left;
    padding: 9px 0px 5px 11px;
    background: url(../img/external/cite-arrow.png) no-repeat 0px 12px;
}

#content #user-testimonials cite em {
    font-style: normal;
    color: #e19750;
}

#content #featured-projects li {
    margin-bottom: 3px;
    padding-bottom:38px;
    width: 280px;
    float: left;
    background: url(../img/external/block-bg.png) bottom no-repeat;
}

#content #featured-projects li p {
    width: 210px;
    font-size: 12px;
    line-height: 18px;
    color: #6f6f6f;
    float: right;
}

#content #featured-projects li p strong {
    font-weight: bold;
    color: #d57f2b;
}

#content #featured-projects li img {
    float: left;
    margin: 5px 10px 0px 0px;
}

#content #from-the-blog li {
    margin-bottom: 7px;
    padding-bottom: 40px;
    width: 185px;
    float: left;
    background: url(../img/external/block-bg.png) bottom no-repeat;
}

#content #from-the-blog li p {
    display: inline;
    font-size: 12px;
    line-height: 17px;
    color: #6f6f6f;
}

#content #from-the-blog li h4 {
    font-weight: bold;
    display: inline;
    font-size: 12px;
    line-height: 17px;
    color: #d57f2b;
}

#content #from-the-blog li p.date {
    padding-left: 15px;
    width: 170px;
    float: left;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7f7f7f;
    background: url(../img/external/time.png) no-repeat 0px 4px;
    margin: 4px 0px;
}

#content #from-the-blog p a.go-to-blog {
    text-indent: -99999px;
    width: 170px;
    height: 10px;
    line-height: 10px;
    float: left;
    background: url(../img/external/sprite.png) no-repeat top left;
}

#content #from-the-blog p a.go-to-blog:hover {
    background-position: 0 -11px;
}

#content form {
    width: 960px;
    margin: 0 auto;
}

#content .form-wrapper {
    width: 680px;
    margin: 0 auto;
    -webkit-border-radius: 8px;
    border: 1px solid #d8a574;
    -webkit-box-shadow: 0px 0px 5px #202020;
    background: url(../img/external/form-gradient.png) repeat-x #c26d1a;
}

#content .form-wrapper#signup { height: 670px; }
#content .form-wrapper#login, #content form, #content .form-wrapper#resetpw { height: 440px; }
#content .form-wrapper#forgotpw { height: 370px; }
#content .form-wrapper#pendingact { height: 370px; }
#content #sign-up, #content #log-in, #content #forgot-pw, #content #pending-act, #content #reset-pw {
    background: url(../img/external/form-light.png) no-repeat top center;
    width: 520px;
    padding: 50px 80px;
    float: left;
}

#content .form-wrapper h1 {
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px -1px #c75a18;
    font-weight: bold;
    text-align: center;
    text-indent: -9999px;
    margin: 10px auto 16px;
}

#content #sign-up h1 {
    background: url(../img/external/headers/create-new-user.png) no-repeat;
    width: 377px;
    height: 33px;
}

#content #log-in h1 {
    background: url(../img/external/headers/log-in.png) no-repeat;
    width: 394px;
    height: 40px;
}

#content #forgot-pw h1 {
    background: url(../img/external/headers/forgotten-password.png) no-repeat;
    width: 425px;
    height: 40px;
}

#content #pending-act h1 {
    background: url(../img/external/headers/almost-done.png) no-repeat;
    width: 407px;
    height: 34px;
}

#content #reset-pw h1 {
    background: url(../img/external/headers/change-your-password.png) no-repeat;
    width: 480px;
    height: 40px;
}

#content form .form-wrapper a {
    color: #512700;
    text-shadow: 0px 1px #dc944f;
    border-bottom: 1px solid #925010;
}

#content form .form-wrapper p {
    width: 450px;
    text-align: center;
    margin: 0 auto;
    color: #79420d;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    text-shadow: 0px 1px #dd9e61;
}

#content form .form-wrapper p.alt-login {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#openid_login_fields { height: 308px; }
.login_hidden { display: none; }

#content .form-wrapper .horisontal-shadow {
    width: 520px;
    float: left;
    margin-top: 30px;
    height: 39px;
    background: url(../img/external/form-shadow.png) no-repeat top right;
}

#content .form-wrapper ul li {
    width: 520px;
    float: left;
    margin-bottom: 20px;
}

#content .form-wrapper  ul li label {
    width:520px;
    float: left;
    font-weight: 500;
    font-size: 15px;
    color: #573310;
    text-shadow: 0px 1px #dd9956;
    padding-bottom: 7px;
}

#content .form-wrapper  ul li input[type='text'],
#content .form-wrapper  ul li input[type='password'] {
    height: 44px;
    padding: 0px 10px;
    background: #FFF;
    font-weight: 200;
    letter-spacing: normal;
    width: 500px;
    -webkit-box-shadow: 0px 0px 2px #FFF, 2px 2px 3px #ccc inset;
    border: 0;
    border: 1px solid #b3814f;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #505050;
}

#content .form-wrapper ul li input[type='text']:focus,
#content .form-wrapper ul li input[type='password']:focus {
    background: #fffae5;
    border: 1px solid #9e6a35;
}

#content .form-wrapper ul li div.tos {
    width: 350px;
    margin-top: -10px;
    float: left;
    padding-top: 6px;
}

#content .form-wrapper ul li div.tos input {
    padding: 0;
    float: left;
}

#content .form-wrapper ul li div.tos label {
    width: 250px;
    padding-left: 4px;
    float: left;
}

#content .form-wrapper ul li div.submit {
    float: right;
    width: 150px;
}

#content .form-wrapper input[type='submit'] {
    width: 112px;
    height: 43px;
    cursor: pointer;
    -webkit-box-shadow: none;
    float: right;
    border: 0;
    text-indent: -9999px;
}

#content .form-wrapper#signup input[type='submit'] { background: url(../img/external/sprite.png) no-repeat -2px -23px;}
#content .form-wrapper#signup input[type='submit']:active { background-position: -116px -23px;}

#content .form-wrapper#login input[type='submit'] { background: url(../img/external/sprite.png) no-repeat -2px -67px;}
#content .form-wrapper#login input[type='submit']:active { background-position: -116px -67px;}

#content .form-wrapper#forgotpw input[type='submit'] { width: 291px; background: url(../img/external/sprite.png) no-repeat -2px -127px;}
#content .form-wrapper#forgotpw input[type='submit']:active { width: 291px; background: url(../img/external/sprite.png) no-repeat -296px -127px;}

#content .form-wrapper#resetpw input[type='submit'] { width: 119px; background: url(../img/external/sprite.png) no-repeat -2px -344px;}
#content .form-wrapper#resetpw input[type='submit']:active { width: 119px; background: url(../img/external/sprite.png) no-repeat -125px -344px;}

#content .form-wrapper#pendingact div.pending-info p {
    background: url(../img/external/sprite.png) no-repeat -2px -185px;
    width: 526px;
    height: 120px;
    float: left;
    text-indent: -9999px;
}

.errorExplanation {
    width: 120px;
    float: right;
    font-size: 11px;
    line-height: 16px;
    margin-top: 105px;
    color: #333;
}

.errorExplanation li {
    list-style-type: circle;
    margin-left: 15px;
}

.flash_message.error {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #ed4029;
}

div.flash_message {
    width: 100%;
    display: none;
    float: left;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 0px 10px;
    margin-bottom: 10px;
}

body #content p.alt_links {
    width: 960px;
    float: left;
    text-align: center;
    color: #666;
    text-shadow: none;
}

body #wrapper #content p.alt_links,
body #wrapper #content p.alt_links a {
    border: 0;
    text-decoration: none;
    text-shadow: 0px 1px #b0b0b0;
    padding-bottom: 10px;
}

body #wrapper #content p.alt_links a { color: #2d2d2d; }
body #wrapper #content p.alt_links a:hover { color: #111; }

#footer {
    background: url(../img/external/footer-bg.png) repeat-x #000;
    clear: both;
    float: left;
    height: 184px;
    margin-top: 3px solid red;
    overflow: visible;
    padding: 0 0 20px;
    width: 100%;
}

#footer #footer-container {
    width: 960px;
    margin-top: 3px solid red;
    margin: 40px auto 0;
}

#footer a { color: #92b92d; }

#footer h3 {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

#footer ul {
    float: left;
    width: 110px;
    margin: 10px 20px 0px 0px;
    border-top: 1px solid #333;
    padding-top: 8px;
}

#footer-links {
    overflow: hidden;
    padding: 0 0 10px;
}

#footer ul.footer-links li { font-size: 13px; }

#footer ul li a {
    line-height: 18px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #6e6e6e;
    text-shadow: 0px -1px #171718;
}

#footer ul li a:hover {
    color: #9d9d9d;
    text-decoration: none;
}

#footer ul.legal { margin-top: 5px; }

#footer ul.legal a {
    color: #666;
    font-size: 10px;
}

#footer ul.legal a:hover { color: #92B92D; }

#footer .powered-by {
    float: right;
    width: 100px;
    margin: 0 0 10px 10px;
    text-align: center;
}

#footer .powered-by img {
    margin-top: 7px;
}

#footer .footer-blurb {
    border-top: 1px solid #333;
    clear: both;
    font-size: .8em;
    padding: 10px 0 0;
    text-align: right;
}

#footer .footer-blurb a:link,
#footer .footer-blurb a:visited,
#footer .footer-blurb a {
    color: #6e6e6e;
    font-weight: bold;
}