form#new_project {
	float: left;
	width: 610px;
}

.form {
	width: 610px;
	float: left;
	-webkit-border-radius: 6px;
}
form fieldset {
	background: #EEE;
	margin-bottom: 10px;
	padding: 5px 0px 5px;
	float: left;
	width: 610px;
}
form fieldset.messages li {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
form fieldset.submit {
	padding: 10px;
	width: 590px;
}
form fieldset.submit input[type='submit'] {
	float: right;
}
form li {
	width: 610px;
	float: left;
	padding: 6px 0px;
}

form li .desc li,
form .license-description li {
    float: none;
    margin: 0 0 .5em;
    padding: 0;
    width: auto;
}

form li select + ul.desc {
    margin-top: 1em;
}

/* Prevent floating list items when previewing a wiki page */
#page_preview li {
  float: none;
}
form p.hint {
	font-size: 11px;
}

form li div {
	width: 390px;
	float: right;
	min-height: 25px;
	padding-top: 4px;
}

form li label {
	width: 190px;
	margin-right: 10px;
	float: left;
	padding-left: 10px;
	line-height: 17px;
	padding-top: 6px;
	font-weight: bold;
	margin: 0;
	text-align: right;
	font-size: 13px;
}
#content form p, #content form span, #content form li div p, #content form li div span {
	line-height: 18px;
}
form textarea {
	width: 90%;
}

form legend {
	font-weight: bold;
	font-size:12px;
}

form .required {
	color: #aaa;
	font-size: 10px;
	font-weight: normal;
}

form {
	margin-bottom: 1.5em;
}

form.button-to, form.button-to div {
	display: inline;
}
form.button-to div {
	margin: 0 5px 0 5px;
	text-align: right;
}
form.button-to div input[type='submit'] {
	font-weight: bold;
	color: #ba3e3e;
	font-size: 11px;
	text-shadow: 0px 1px #FFF;
	padding: 2px 6px 2px 6px;
	display: block;
	float: right;
	line-height: 22px;
	height: 26px;
	margin-right: 5px;
	margin-bottom: 1px;
	background: #e8e8e8;
	-webkit-box-shadow: 0px 1px 0px #FFF inset;
	-moz-box-shadow: inset 0px 1px 0px #FFF;
	border: 1px solid #b5b5b5;
	cursor: pointer;
}
form.button-to div input:hover {
	color: #df3333;
	text-shadow: 0px 1px #eaeaea;
	text-decoration: none;
	-webkit-box-shadow: 0px 1px 0px #eaeaea inset;
	-moz-box-shadow: inset 0px 1px 0px #eaeaea;
	background-color:#cdcdcd;
}
form input[type='checkbox'] {
	height: 30px;
	float: left;
	margin: -5px 4px 0px 0px;
}
form input[type='text'], input[type='password'] {
	padding: 6px;
	width: 320px;
	background: #F8F8F8;
	border: 1px solid #ccc;
}
form fieldset.submit li {
	width: 590px;
}
form textarea {
	padding: 6px;
	width: 360px;
	background: #F8F8F8;
	border: 1px solid #ccc;
}
textarea.text {
	height: 60px;
}
textarea.wide {
	width: 360px;
}
textarea.tall {
	height: 300px;
}
textarea.taller {
	height: 500px;
}
textarea.medium {
	width: 450px;
	height: 250px;
}
textarea.fill {
	width: 95%;
}
select {
	width: 200px;
}

input[type='text'], input[type='password'], textarea, select {
	margin: 0px 0 0px 0;
}
form input.compact {
	width: 120px;
}
form input.medium_compact {
	width: 280px;
}
input.compact, select.compact {
	width: 100px;
	margin-right: 5px;
}
input.medium_compact {
	width: 170px;
	margin-right: 5px;
}

input[type='text']:focus, input[type='password']:focus. input.title:focus,
textarea:focus, select:focus {
	border: 1px solid #666;
}

/* embeds the openid image in the text field */
input#openid_url {
	background: url(../images/login-bg.gif) no-repeat;
	background-color: #fff;
	background-position: 0 50%;
	color: #000;
	padding-left: 18px;
}
form div.fieldWithErrors {
	float: none;
	width: auto;
}
.fieldWithErrors {
	margin: 0;
	display: inline-block;
}
form div.fieldWithErrors input, form div.fieldWithErrors textarea, form div.fieldWithErrors select {
	border: 1px solid #eab1b1;
}
form div.fieldWithErrors label {
	color: #b24040;
}
#content div.errorExplanation {
	background: #fbdddd;
	-webkit-border-radius: 6px;
	width: 100%;
	margin: 0 0 10px 0;
	float: left;
	padding: 10px 0px;
}

#content div.errorExplanation h2 {
	font-size: 15px;
	font-weight: bold;
	color: #b24040;
	padding: 0px 10px 0px 10px;
	margin-bottom: 5px;
}
#content div.errorExplanation p {
	padding: 0px 10px;
	margin-bottom: 10px;
	margin-top: 0;
}
#content div.errorExplanation ul {
	margin: 0px 0px 0px 25px;
}
#content .errorExplanation ul li {
	list-style-type: disc;
}

form table.inline-labels td {
	padding-right: 10px;
}
form table.inline-labels th {
	padding-right: 20px;
}
form table.inline-labels td label {
	font-weight: normal;
}

form#new_committership ul {
	float: left;
	width: 620px;
	padding: 0;
	border: 0;
	margin-bottom: 0px;
}
form#new_committership li {
	width: auto;
	font-weight: bold;
	background: #CCC;
	padding: 8px 12px;
	margin: 0;
	margin-right: 10px;
	float: left;
	border: 0;
}
form#new_committership li.selected {
	background: #eee;
	margin: 0;
	margin-right: 10px;
}
form#new_committership p.tab-content {
	background: #eee;
	padding: 10px;
	width: 620px;
	float: left;
}
#comment-form {
	width: 450px;
	float: left;
}
.help-box.right.help {
	float: right;
	width: 300px;
	margin-bottom: 15px;
}
form.button-to {
	float: right;
	width: 100%;
}
.committer-buttons form {
	width: auto;
}

#merge_request_statuses {
	width: 640px;
}
