#content .form-wrapper ul li input[type='text'], #content .form-wrapper ul li input[type='password'] {
	height: 24px;
	padding: 10px 10px 10px 10px;
}
#content .form-wrapper ul li label {
	font-weight: bold;
}
