body #content .repository_meta .infobox input[type=text]  {
	width: 384px;
	padding: 0;
	padding: 7px 8px 1px;
}

#content .form-wrapper  ul li input[type='text'], #content .form-wrapper  ul li input[type='password'] {
	height: 24px;
	padding: 10px 10px 10px 10px;

}
#content .form-wrapper  ul li label {
	font-weight: bold;

}