/*####################
Genericness
####################*/

h1 { font-size:2em; }
h2 { font-size:1.5em; }
h3 { font-size:1.2em; }

h1, h2, h3, h4, p{
  margin:0;
  margin-bottom:.7em;
}

a{
 text-decoration:none;
 color:#408815;
}

a:hover{
  text-decoration:underline;
}

a img{
  border:0;
}

.clear{ clear:both; }
.image_header span { display:none; }

/*####################
Main grid
####################*/

body{
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
  font-size:12px;
  background:#000; /* For the potentially ever expanding footer. The white is in #main */
}

.marginizer{
  width:980px;
  margin:0 auto;
}

/*####################
Big header
####################*/

#big_header{
  float:left;
  width:100%;
  
  /* IE7 adds a strange margin here. Dunno why. This "fixes" it. */
  height:500px;
  
  background-image:url(../images/big_header_gloss.png);
  background-repeat:repeat-x;
  background-color:#000;
  color:#fff;
}

#big_header a {
  color: #92B92D;
}

#main_menu{
  float:right;
  height:50px;
  line-height:50px;
  font-size:12px;
  
  text-shadow:rgba(0, 0, 0, 0.5) 0px -1px 1px; 
}

#main_menu li{
  margin-left:2em;
}

#main_menu a{
  color: #92B92D;
}

#main_menu_search_form{
  margin-top:14px;
}

#main_menu_search_form_query{
  padding:2px;
  padding-left:4px;
  color:#F0F0F0;
  background-color:#2B2728;
  border:1px solid #6B6B6B;
  float:left;
  font-size:11px;
  margin:0px;
  
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}

#main_menu_search_form_query.unfocused {
  color: #777;
}

#main_menu_search_form_graphic_submit{
  width:20px;
  height:20px;
  margin-left:2px;
  background-image:url(../images/button_search.png);
  background-repeat:no-repeat;
  display:block;
  float:left;
}

#main_menu_search_form_graphic_submit:active{
  background-position:left -20px;
}

#big_header .marginizer{
  position:relative; /* Restraining the absolutely positioned logo */
}

#logo_image{
  top:50px;
  position:absolute;
  background-image:url(../images/gitorious_logo_big.png);
  height:253px;
  width:492px;
  margin:0;
}

#logo_hit_area{
  top:50px;
  position:absolute;
  width:500px;
  height:130px;
}

#big_header_content{
  /* margin-top:130px; */
  top: 130px;
  
  /* Give this predesence over the #logo_image */
  position:relative;
  z-index:2;
}

#big_header_meta{
  float:left;
  height:275px;
  margin-bottom:50px;
  
  /* 770 alltogether */
  padding-left:166px;
  width:603px;
  border-right-width:1px;
  
  border-right-style:solid;
  border-right-color:#262626;
}

#big_header_signup_link{
  margin:60px 0;
  margin-left:160px;
}

#big_header_signup_link a{
  width:180px;
}

#big_header_pay_off{
  width:520px;
  height:74px;
  background-image:url(../images/pay_off.png);
  margin:0;
}

#big_header_login{
  margin-top:4px;
  float:right;
  width:190px;
  text-align:center;
}

#big_header_login h3{
  display:none;
}

#big_header_login_box_header{
  margin:0;
  height:25px;
  background-image:url(../images/login_box_head.png);
  background-repeat:no-repeat;
  background-position:center;
}

#big_header_login_box_regular,
#big_header_login_box_openid{
  position:absolute;
}

#big_header_login_box_form{
  margin:0;
  padding:0;
}

#big_header_login_box{
  padding:15px;
  padding-bottom:5px;
  font-size:11px;
  text-shadow:rgba(0, 0, 0, 0.5) 0px -1px 1px; 
  
  background-color:#0e0e0e;
  background-image:url(../images/dialogue_small_bg_0e0e0e.png);
  background-repeat:repeat-x;
  border-width:1px;
  border-style:solid;
  border-color:#474848;
  
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

#big_header_login_box_fields{
  height:140px;
  text-align:left;
}

#big_header_login_box_fields input {
  padding:0;
  padding-left:2px;
  margin:2px 0;
  
  width:152px;
  height:17px;
  line-height:17px;
  border:1px solid #393939;
  background-color:#A6A9AB;
}

#big_header_login_box_fields label{
  display:block;
  color:#B2B2B2;
}

#big_header_login_box_fields a{
  display:block;
}

#big_header_login_box_to_openid,
#big_header_login_box_to_regular{
  display:block;
  margin-bottom:20px;
}

#big_header_login_box button{
  width:130px;
}

/*####################
Recent activities
####################*/

#recent_activities{
  float:left;
  width:100%;
  background-image:url(../images/ticker_bg.png);
  background-repeat:repeat-x;
  background-position:top left;
  background-color:#fff;
  height:108px;
}

#recent_activities_container{
  height:60px;
  width:980px;
  margin:16px auto;
}

.recent_activity{
  background-image:url(../images/border_pixel_v.gif);
  background-repeat:repeat-y;
  background-position:top right;
  width:227px;
  padding:0 5px;
  margin-right:10px;
  height:60px;
  float:left;
  font-size:10px;
}

.recent_activity.last{
  background-image:none;
  margin-right:0;
}

.recent_activity_timestamp{
  float:left;
  width:40px;
  margin-top:15px;
  text-align:center;
  font-weight:bold;
  text-shadow:rgb(255, 255, 255) 0px 1px 0px; 
}

.recent_activity_avatar{
  float:left;
  margin-top:12px;
  margin-right:10px;
  margin-left:5px;
}

.recent_activity_meta{
  float:left;
  width:130px;
  margin-top:10px;
}

.recent_activity_meta strong{
  font-weight:normal;
}

/*####################
Homepage lists
####################*/

.homepage_listing{
  float:left;
  width:306px;
}

#homepage_listed_middle_column{
  margin:0 31px;
}

.homepage_listing h2{
  width:300px;
  background-repeat:no-repeat;
  height:60px;
  margin:0;
}

#homepage_listed_left_column h2{
  background-image:url(../images/list_head_projects.png);
}

#homepage_listed_middle_column h2{
  background-image:url(../images/list_head_teams.png);
}

#homepage_listed_right_column h2{
  background-image:url(../images/list_head_users.png);
}

.homepage_listing > ul{
  background-image:url(../images/border_pixel_h.gif);
  background-repeat:repeat-x;
  background-position:left top;
}

.homepage_listing .see_all{
  float:right;
  font-size:11px;
  color:#999;
  font-weight:bold;
  margin-top:48px;
}

.homepage_listing .see_all:hover{
  color:#000;
  text-decoration:none;
}

.homepage_listing .summary_box{
  background-image:url(../images/border_pixel_h.gif);
  background-repeat:repeat-x;
  background-position:left bottom;
  padding:10px 0;
  height:50px;
}

.homepage_listing strong{
  display:block;
  margin-bottom:2px;
  font-size:16px;
}

.homepage_listing .summary_box_image{
  float:left;
  margin-right:18px;
  margin-left:10px;
}

.homepage_listing .summary_box_content{
  float:left;
  width:242px;
}

/*####################
Main
####################*/

#main{
  float:left;
  width:100%;
  background-color:#fff;
  padding-top:20px;
  padding-bottom:60px;
}

/*####################
Footer
####################*/

#footer{
  float:left;
  width:100%;
  color:#fff;
  padding:20px 0;
}

#footer li{
  margin-right:2em;
}

#footer a{
  color: #92B92D;
}

#footer li.secondary a  {
  color: #999;
  font-size: 11px;
}


#footer ul.meta {
  float: right;
  position: relative;
  list-style: none;
  margin: 0;
}

/*####################
Avatars
####################*/

.glossy_avatar_wrapper{
  position:relative;
}

.glossy_avatar_wrapper span{
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  width:30px;
  height:31px;
  background-image:url(../images/icon_avatar_mask.png);
  background-repeat:no-repeat;
}

/*####################
Lists
####################*/

ul.simple{
  margin:0;
  padding:0;
  list-style-type:none;
}

ul.simple.left,
ul.simple.left li{
  float:left;
}

/*####################
Buttons

From http://www.filamentgroup.com/lab/update_styling_the_button_element_with_css_sliding_doors_now_with_image_spr/
####################*/

button,
a.button_link{ 
	position:relative;
	border:0; 
	padding:0;
	cursor:pointer;
	overflow:visible; /* removes extra side padding in IE */
	display:inline-block;
	color:#fff;
	font-weight:bold;
	text-align:center;
}

button::-moz-focus-inner{
	border:none;  /* overrides extra padding in Firefox */
}

button span,
a.button_link span{ 
	position:relative;
	display:block; 
	white-space:nowrap;	
	text-shadow:rgba(0, 0, 0, 0.5) 0px -1px 1px; 
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top:-1px;
	}
}

a.button_link:hover{
  text-decoration:none;
}

button.medium,
a.button_link.medium{ 
	padding:0 20px 0 0; 
	margin-right:5px; 
	background-color:transparent;
  background-image:url(../images/buttons_medium.png);
  background-repeat:no-repeat;
  background-position:right -108px;
}
	
button.medium span,
a.button_link.medium span{
	padding:8px 0 0 20px; 
	height:21px;
  background-color:transparent;
  background-image:url(../images/buttons_medium.png);
  background-repeat:no-repeat;
  background-position:left top;
}
	
button.medium:active,
a.button_link.medium:active{ /* the redundant class is used to apply the hover state with a script */
	background-position:right -162px; 
}
	
button.medium:active span,
a.button_link.medium:active span{
	background-position:0 -54px;
}

button.big,
a.button_link.big{
  padding:0 20px 0 0;
  margin-right:5px;
  background-color:transparent;
  background-image:url(../images/buttons_big.png);
  background-repeat:no-repeat;
  background-position:right -138px;
  color: #fff !important;
}

button.big span,
a.button_link.big span{
  font-size:16px;
  padding:13px 0 0 20px;
  height:36px;
  background-color:transparent;
  background-image:url(../images/buttons_big.png);
  background-repeat:no-repeat;
  background-position:left top;
}

button.big:active,
a.button_link.big:active{
  background-position:right -207px;
}

button.big:active span,
a.button_link.big:active span{
  background-position:0 -69px;
}