/* #############################################
   ################# SIDEBAR ################### */

#container.sidebar-enabled {
    background: url("../img/container-bg310.png") repeat-y;
}

#container #sidebar {
    border-top: 1px solid #e7e7e7;
    width: 240px;
    min-height: 100%;
    float: right;
    padding: 23px 20px;
    color: #555;
}

#container #sidebar:after {
    clear: left;
    display: block;
    visibility: hidden;
    height: 0;
    content: "";
}

#container #sidebar .divider {
    height: 1px;
    width: 100%;
    float: left;
    clear: both;
    background: #CCC;
    margin: 10px 0px 10px;
}

#sidebar ul.links.meta li {
    border-bottom: none;
    width: 175px;
}

/* ############# NAVIGATION ########### */

.navigation {
    float: left;
    border-bottom: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
    width: 240px;
    margin-left: -20px;
    background: url(../side-nav-bg.png) repeat-x #CCC;
    padding: 18px 20px 18px 20px;
    margin-bottom: 15px;
}

.navigation.multiple {
    margin-top: -22px;
    padding-top: 12px;
    border-top: 1px solid #b4b4b4;
}

/* ################# BUTTONS / LINKS ########### */

#sidebar ul.links.meta li {
    border-bottom: none;
}

#sidebar ul.links li {
    margin-bottom: 0;
}

#sidebar ul.links li {
    width: 240px;
    float: left;
    height: 34px;
    -webkit-box-shadow: inset 0px 1px 0px #EEE;
    -moz-box-shadow: inset 0px 1px 0px #EEE;
    border-left: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
    border-top: 1px solid #b5b5b5;
    background: #dedede no-repeat 6px 5px;
}

#sidebar ul.links li.double_row {
  height: 60px;
}

#sidebar ul.links li.first {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-topleft: 6px;
}

#sidebar ul.links li.first a:hover {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-topleft: 6px;
}

#sidebar ul.links li.last {
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom: 1px solid #b5b5b5;
}

#sidebar ul.links li.last a:hover,
#sidebar ul.links li.double_row.last a.compare_diffs:hover {
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom: 1px solid #b5b5b5;
}

#sidebar ul.links li.double_row.last a:hover {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom: 0;
}

#sidebar ul.links li a {
    font-weight: bold;
    color: #555555;
    font-size: 12px;
    text-shadow: 0px 1px #FFF;
    width: 195px; 
    float: left;
    display: block;
    line-height: 20px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: 10px 9px;
    padding: 8px 10px 4px 35px;
    background-image: url("../images/silk/bullet_go.png");
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* required for Opera */
    -ms-text-overflow: ellipsis; /* required for IE8, allegedly */
}

#sidebar ul.links li a.compare_diffs,
#sidebar ul.links li a.compare_diffs:hover {
  font-weight: normal;
  display: inline;
  background-image: none;
  padding: 2px 10px 2px 35px;
}

#sidebar ul.disable_hover.links li a:hover {
  text-decoration: underline;
  background-color: inherit;
  -webkit-box-shadow: inset 0px 1px 0px #EEE;
  -moz-box-shadow: inset 0px 1px 0px #EEE;
}

#sidebar ul.disable_hover.links li a.compare_diffs:hover {
  text-decoration: underline;
  background-color: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#sidebar ul.links li a:hover {
    color: #535353;
    text-shadow: 0px 1px #EEE;
    text-decoration: none;
    background: #cecece no-repeat 10px 9px;
    background-image: url("../images/silk/bullet_go.png");
}

#sidebar ul.links li a:active {
    background-color: #c5c5c5;
    line-height: 23px;
    background-position: 10px 10px;
}

#sidebar ul.links.meta li a {
    font-size: 10px;
    padding: 2px 5px 2px 28px;
    background-position: 5px 2px;
}

#sidebar ul.links.meta li:hover {
    background: inherit;
}

#sidebar ul.links.meta li a:hover {
    color: #390;
    text-decoration: underline;
}

#sidebar ul.options li strong {
    float: left;
}

#sidebar ul.options {
    float: left;
    width: 220px;
    padding: 15px 10px 15px;
}

#sidebar ul.options li {
    margin-bottom: 3px;
    text-align: right;
    padding-bottom: 3px;
    font-size: 12px;
    border-bottom: 1px solid #d9d9d9;
}

/* ########## PROJECT SPECIFIC ########### */

#sidebar > * {
    float: left;
}

#sidebar ul.committers,
#sidebar ul.repository_list {
    width: 240px;
}

#sidebar h1 {
    float: none;
}

#project-meta,
.sidebar-meta {
    float: left;
    width: 240px;
    padding: 15px 0px 15px;
}

#project-meta li,
.sidebar-meta li {
    margin-bottom: 3px;
    text-align: right;
    padding-bottom: 3px;
    font-size: 12px;
    border-bottom: 1px solid #d9d9d9;
}

#project-meta li strong,
.sidebar-meta li strong {
    float: left;
}

#clone-list-container {
    width: 240px;
}

/* SEARCH TIPS */
ul.search-tips li code {
    padding: 0px 3px 0px 0px;
}

#sidebar .licenses dt {
    font-weight: bold;
}

#sidebar .licenses dd li {
    color: #868F97;
    margin: 0 0 .5em;
}

#sidebar .licenses dd {
    color: #868F97;
}
