<%
#--
#   Copyright (C) 2011 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<div
   id="commit-diffs"
   data-gts-source-error="We were unable to fetch your diff. This may be caused by server problems at our end, or you may have tried to view the diff between two invalid commits."
   data-gts-source="<%= url_for(:controller => :commit_diffs, :action => :compare, :fragment => "1") %>">
  <p>Please wait while we load your diffs.</p>
</div>
