<li class="gts-listing-item">
  <% if group.avatar? %>
    <div class="gts-group-avatar">
      <%= group_avatar(group) %>
    </div>
  <% end %>
  <div class="gts-group-body">
    <h2>
      <%= link_to h(group.name), group_path(group.to_param) %>
    </h2>
    <%= pluralize group.members.count, t("views.groups.member_singular"), t("views.groups.member_plural") %>,
    <%= pluralize group.repositories.count, t("views.groups.repo_singular"), t("views.groups.repo_plural") %>
  </div>
</li>
