<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% @title = group.name %>

<%= render('header', :active => true, :title => @title, :group => group) %>

<div class="container">
  <%= simple_form_for(group, :html => { :class => "form form-horizontal", :multipart => true }) do |f| %>
    <fieldset>
      <legend>Edit team</legend>
      <%= render('form', :form => f, :group => group) %>
      <div class="form-actions">
        <%= f.submit 'Save', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %>
</div>
