<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% @title = t("views.groups.teams") %>

<div class="container gts-body">
  <div class="gts-container">
    <div class="row-fluid">
      <div class="span8">
        <ul class="gts-listing">
          <%= render partial: 'group', collection: groups %>
        </ul>
        <%= raw JustPaginate.page_navigation(page, total_pages) { |n| groups_path(:page => n) } %>
      </div>
      <div class="span4">
        <% if current_user && (!Gitorious.restrict_team_creation_to_site_admins? || site_admin?(current_user)) %>
          <a class="btn btn-primary pull-right" href="<%= new_group_path %>">
            <i class="icon-plus-sign icon-white"></i>
            <%= t("views.groups.create_team") %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
