<% if events.empty? %>
  <p class="hint">no activities.</p>
<% else %>
  <%= render 'events/events', :events => events, :page => events.current_page.to_i, :total_pages => events.total_pages %>
<% end %>
