<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Tor Arne Vestbø <torarnv@gmail.com>
  #   Copyright (C) 2009 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2009 Marius Mathiesen <marius.mathiesen@gmail.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<div class="container">
  <div class="container-fluid gts-container user-edit-container">
    <%= user_edit_tabbable :active => active_tab do %>
      <%= tab_pane(active_tab.underscore.to_sym, :active => true) do %>
        <%= render "users/edit/#{active_tab.underscore}", :user => user %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(function() {
  var active = $('.nav[data-active]').data('active');
  var $nav   = $('a[data-target="#'+active+'"]');

  $nav.tab('show');

  $('.nav').pjax('a', '.tab-content');

  $('.modal-footer a[data-behavior="save"]').on('click', function() {
    $(this).parents('.modal').find('form').submit();
    return false;
  });

  $('.modal').on('submit', 'form', function() {
    $.ajax({
      url: this.action,
      type: this.method,
      data: $(this).serialize(),
      success: function(response) {
        document.location.reload();
      },
      error: function(xhr) {
        $('.modal-body').html(xhr.responseText);
      }
    });
    return false;
  });
});
</script>
