<h1>Forgot your password?</h1>


<% form_for :user, :url => reset_password_users_path do |f| -%>
  <p>
    <%= f.label :email -%><br/>
    <%= f.text_field :email, :class => "text" -%>
  </p>

  <p><%= f.submit 'Send me a new password' %></p>
<% end -%>
