<div class="blog-feed">
  <h3>From our blog</h3>
  <ul class="unstyled">
    <% @feed_items.each do |entry| -%>
      <li class="blog-entry">
        <h4><a href="<%=h entry[:link] -%>"><%= strip_tags(entry[:title]) -%></a></h4>
        <p><%= truncate(strip_tags(entry[:description]), :length => 255) -%></p>
        <p class="date"><%= l(entry[:date], :format => :short) -%></p>
      </li>
    <% end -%>
  </ul>
  <p><a class="go-to-blog" href="http://blog.gitorious.org">Go to the Gitorious Blog</a></p>
</div>
