<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<h3>Professional Gitorious services</h3>
<ul class="unstyled">
  <li>
    <h4>
      <a href="http://gitorious.com/local_install/">Local Install</a>
    </h4>
    <p>
      Run Gitorious at your company with support and maintenance
      from the Gitorious team.
      <a href="http://gitorious.com/local_install/">Pricing and ordering</a>.
    </p>
  </li>
  <li>
    <h4>
      <a href="http://gitorious.com/subdomain">Your own Gitorious subdomain</a>
    </h4>
    <p>
      Follow the lead of <a href="http://qt.gitorious.org">Qt</a>
      and others; get your own branded Gitorious subdomain for
      maximum community visibility.
      <a href="http://gitorious.com/subdomain/">Pricing and ordering</a>.
    </p>
  </li>
  <li>
    <h4>
      <a href="http://gitorious.com/consulting">Hire the Gitorious team</a>
    </h4>
    <p>
      Hire the Gitorious team to develop custom features, customize
      the look and feel of your install, or integrate with your
      company's existing systems.
      <a href="http://gitorious.com/consulting/">Pricing and ordering</a>.
    </p>
  </li>
</ul>
