<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<div class="featured-projects">
  <h3>Featured projects</h3>
  <ul class="unstyled">
    <li>
      <a href="http://qt.gitorious.org/qt"><img src="assets/external/projects/qt.png"></a>
      <p>
        <strong><a href="http://qt.gitorious.org/qt">Qt</a></strong> is a
        cross-platform application and UI framework by Nokia. Gitorious
        provides hosting for 8 different projects and several teams.
      </p>
    </li>
    <li>
      <a href="http://gitorious.org/opensuse"><img src="assets/external/projects/opensuse.png"></a>
      <p>
        <strong><a href="http://gitorious.org/opensuse">OpenSUSE</a></strong>
        is a free and Linux-based operating system for your PC, Laptop or
        Server. Gitorious provides hosting for 8 different projects and
        several teams.
      </p>
    </li>
    <li>
      <a href="http://gitorious.org/xbmc"><img src="assets/external/projects/xbmc.png"></a>
      <p>
        <strong><a href="http://gitorious.org/xbmc">XBMC</a></strong> is a
        complete media center solution for Windows, OSX, Linux, and XBOX.
      </p>
    </li>
    <li>
      <a href="http://gitorious.org/StatusNet"><img src="assets/external/projects/statusnet.png"></a>
      <p>
        <strong><a href="http://gitorious.org/StatusNet">StatusNet</a></strong>
        is a microblogging platform. It helps people in a community,
        company, or group to exchange short (140 character) messages over
        the Web.
      </p>
    </li>
  </ul>
</div>
