<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<h3>Features &mdash; what we bring to the table</h3>
<ul class="unstyled clearfix">
  <li>
    <div class="feature project-hosting">
      <h4>Project hosting</h4>
      <p>Host your open source projects and their repositories for free on Gitorious to enable community contributions.</p>
    </div>
  </li>
  <li>
    <div class="feature activity-monitoring">
      <h4>Activity monitoring</h4>
      <p>Keep track of project activity for both your personal projects and team projects.</p>
    </div>
  </li>
  <li>
    <div class="feature public-merge-requests">
      <h4>Public merge requests</h4>
      <p>Allow other developers to submit contributions to your project and merge them easily.</p>
    </div>
  </li>
  <li>
    <div class="feature project-centric">
      <h4>Project Wikis</h4>
      <p>Document your project using Gitorious<br /> built-in wiki.</p>
    </div>
  </li>
  <li>
    <div class="feature team-contributions">
      <h4>Team contributions</h4>
      <p>Create development teams to encourage<br /> and organize cooperative development.</p>
    </div>
  </li>
  <li>
    <div class="feature project-wikis">
      <h4>Project centric</h4>
      <p>Maintain all code repositories related to a single project under a single project area on Gitorious.</p>
    </div>
  </li>
</ul>
