<h3>Features &mdash; what we bring to the table</h3>
<ul class="unstyled clearfix">
  <li>
    <div class="feature project-hosting">
      <h4>Project hosting</h4>
      <p>Host your open source projects and their repositories for free on Gitorious to enable community contributions.</p>
    </div>
  </li>
  <li>
    <div class="feature activity-monitoring">
      <h4>Activity monitoring</h4>
      <p>Keep track of project activity for both your personal projects and team projects.</p>
    </div>
  </li>
  <li>
    <div class="feature public-merge-requests">
      <h4>Public merge requests</h4>
      <p>Allow other developers to submit contributions to your project and merge them easily.</p>
    </div>
  </li>
  <li>
    <div class="feature project-centric">
      <h4>Project Wikis</h4>
      <p>Document your project using Gitorious<br /> built-in wiki.</p>
    </div>
  </li>
  <li>
    <div class="feature team-contributions">
      <h4>Team contributions</h4>
      <p>Create development teams to encourage<br /> and organize cooperative development.</p>
    </div>
  </li>
  <li>
    <div class="feature project-wikis">
      <h4>Project centric</h4>
      <p>Maintain all code repositories related to a single project under a single project area on Gitorious.</p>
    </div>
  </li>
</ul>
