<div class="intro">
  <h2>Git hosting and collaboration software that you can install yourself</h2>
  <p class="description">
    Gitorious.org provides free hosting for open source
    projects that use Git.
  </p>
  <p class="directions">
    Learn more <%= link_to t("views.layout.about_gitorious"), about_path %> or the
    <%= link_to "projects", projects_path -%> we host.
  </p>
</div>
