<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<div class="intro">
  <h2>Git hosting and collaboration software that you can install yourself</h2>
  <p class="description">
    Gitorious.org provides free hosting for open source
    projects that use Git.
  </p>
  <p class="directions">
    Learn more <%= link_to t("views.layout.about_gitorious"), about_path %> or the
    <%= link_to "projects", projects_path -%> we host.
  </p>
</div>
