<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<h3 class="find">Find a project</h3>
<div class="search">
  <%= form_for(:search,
    :url => search_path(:only_path => false, :host => Gitorious.host),
    :html => { :method => 'get', :class => 'form-search' }) do |f| %>
      <%= text_field_tag :q, '', :class => 'search-query' %>
      <%= f.submit 'Search', :class => 'btn' %>
  <% end %>
</div>
