<h3>Hear what our users say</h3>
<div class="testimonial" id="nokia">
  <blockquote>
    "Gitorious allows us to work closer with contributors and strengthens
    the link to the community"
  </blockquote>
  <cite><em>Tor Arne Vestbø</em>, Nokia</cite>
</div>
<div class="testimonial" id="opensuse">
  <blockquote>
    &laquo;The openSUSE project has chosen gitorious since it supports our
    collaborative development model and due to similarities between the
    projects: A reliable, efficient and easy to use service that is open
    source.&raquo;
  </blockquote>
  <cite><em>Andreas Jaeger</em>, Program Manager openSUSE</cite>
</div>
<div class="testimonial" id="regjeringen">
  <blockquote>
    &laquo;We decided to use Gitorious for our code because the service invites
    to collaboration.&raquo;
  </blockquote>
  <cite><em>Gorm Haug Eriksen</em>, Norwegian Government Administration Services</cite>
</div>
