<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<h4>Please wait</h4>
  
<p>generating tarball&hellip;</p>

<p class="spin"><%= image_tag("spinner.gif") -%></p>

<script type="text/javascript" charset="utf-8">
var periodicalDownloadChecker = setTimeout(function(){
var url = '<%= tree_archive_status_url -%>';
$("#archive-box-<%= @ref.gsub("/", "_") -%>").load(url, function(responseText, textStatus, XMLHttpRequest){
    clearTimeout(periodicalDownloadChecker);
    if (textStatus == "success") {
        $(this).html(responseText);
        $(this).show();
    }
})
}, 5000);
</script>
