<div class="row">
  <div class="span2">
    <ul>
      <li><a href="/about">About Gitorious</a></li>
      <li><a href="http://groups.google.com/group/gitorious">Discussion group</a></li>
    </ul>
  </div>
  <div class="span2">
    <ul>
      <li><a href="http://blog.gitorious.org">Blog</a></li>
      <li><a href="http://en.gitorious.org/tos">Terms of Service</a></li>
    </ul>
  </div>
  <div class="span2">
    <ul>
      <li><a href="http://en.gitorious.org/privacy_policy">Privacy Policy</a></li>
    </ul>
  </div>
</div>
