<div class="container">
  <p class="pull-right gts-powered-by">
    <a href="http://getgitorious.com">
      <img alt="Powered by Gitorious" src="/ui3/images/powered-by.png" title="Powered by Gitorious">
    </a>
  </p>
  <p>
    Gitorious is free software licensed under
    the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero
      General Public License (AGPL)</a> unless noted otherwise.
  </p>
  <%= partial("layouts/footer_links") %>
  <p class="gts-com-plug">
    <a href="http://gitorious.com">Professional Gitorious services</a> - Git
    hosting at your company, custom features, support and more.
    <a href="http://gitorious.com">gitorious.com</a>.
  </p>
</div>
