<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<div class="gts-events">
  <% prev_date = nil %>
  <% events.map { |event| EventPresenter.build(event, self) }.each do |event| %>
    <% if prev_date != event.created_at.strftime("%A, %B %e %Y") %>
      <p class="gts-date-heading">
        <span class="gts-date-heading-inner">
          <%= prev_date = event.created_at.strftime("%A, %B %e %Y") %>
        </span>
      </p>
    <% end %>
    <%= render 'events/event', :event => event %>
  <% end %>
</div>

<% if local_assigns[:current_page] && local_assigns[:total_pages] %>
  <%= raw JustPaginate.page_navigation(current_page.to_i, total_pages) { |page_no| "?page=#{page_no}" } -%>
<% end %>
