<table style="margin-top: 1em">
<% @commits.each do |c| %>
  <tr>
    <td valign="top" style="padding-right: 1em">
      <%= gravatar(c.email, :size => 16)  %>    
    </td>
    <td valign="top">
      <p>
        <% if c.user.nil? %>
          <%= c.actor_display %>
        <% else %>
          <%= link_to c.user.login, user_path(c.user) %> 
        <% end %>    
        <strong>committed</strong> <%= link_to(c.data[0,8], project_repository_commit_path(c.project, c.target.target.target, c.data)) %>
        at <%= c.created_at.to_s(:short_time) %>
      </p>
      <p>
        <%= simple_format(sanitize(c.body)) %>      
      </p>
    </td>
  </tr>
<% end %>
</table>

