<% @page_title = "Events" -%>

<h2>System Activities<%= link_to image_tag("feed.png", :width => 24, :height => 24), @atom_auto_discovery_url %></h2>

<%= render :partial => "events", :object => @events -%>

