<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<%= render "projects/header", :project => ProjectPresenter.new(project), :active => :admin %>

<div class="container" id="gts-pjax-container">
  <h2 class="gts-legend">
    <%= @title = "User & team access to #{project.slug}" %>
  </h2>
  <%= render("content_memberships/memberships", {
          :public => project.public?,
          :project => project,
          :memberships => memberships,
          :membership => defined?(membership) ? membership : project.content_memberships.new
        }) %>
</div>
