<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<% if defined?(page) %>
  <p class="pull-right" style="margin-bottom: -1px;">
    <a class="btn btn-primary" href="<%= edit_wiki_page_path(owner, page.title) %>">
      <i class="icon icon-pencil"></i>
      <%= t("views.common.edit") + " " + t("views.pages.page") %>
    </a>
  </p>
  <ul class="nav nav-tabs">
    <%= options = [[:show, wiki_page_path(owner, page.title), page.title]]
        options << [:history, page_history_path(owner, page.title), t("views.pages.history")]
        options << [:git, wiki_git_access_path(owner), t("views.pages.git")]
        options << [:index, wiki_index_path(owner), "Wiki index"]
        header_navigation(options, :active => defined?(active) ? active : nil) %>
  </ul>
<% else %>
  <ul class="nav nav-tabs">
    <%= options = [[:git, wiki_git_access_path(owner), t("views.pages.git")]]
        options << [:index, wiki_index_path(owner), "Wiki index"]
        header_navigation(options, :active => defined?(active) ? active : nil) %>
  </ul>
<% end %>
