<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2008, 2009 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<li class="gts-listing-item">
  <h2>
    <%= link_to h(project.title), project_path(project) %>
    <% if project.private? %>
      <i class="icon icon-lock"></i>
    <% end %>
  </h2>
  <p>
    <%= truncate h(project.stripped_description), :length => 250 %>
  </p>
  <% if project.tag_list.present? %>
    <p class="muted">
      <strong>
        <%= t("views.projects.categories") %>:
      </strong>
      <%= linked_tag_list_as_sentence(project.tags).html_safe %>
    </p>
  <% end %>
</li>
