<h1>Please confirm deletion of <%= h(@project.title) -%></h1>

<p class="important_message">
  Once you press this button the project will be deleted
  
  <% form_for @project, :html => {:method => :delete} do |f| -%>
    <%= f.submit("YES I am sure I want to delete this project permanently") -%>
  <% end -%>
</p>

<% content_for :submenu do -%>
  <li class="selected"><%= link_to "Edit project", edit_project_path(@project) -%></li>
<% end -%>

<% content_for :sidebar do -%>
  <ul class="links">
    <li><%= link_to "Back to edit screen", edit_project_path(@project) -%></li>
  </ul>
<% end -%>