<% @page_title = "Projects" -%>

<ul class="project_list">
<% @projects.each do |project| -%>
  <li class="project_list_item">
    <%= render :partial => project, :object => project -%>
  </li>
<% end -%>
</ul>

<%= will_paginate @projects -%>

<% content_for :submenu do -%>
  <li><%= link_to "New project", new_project_path -%></li>
<% end -%>

<% content_for :sidebar do -%>  
  <h4>Popular Categories:</h4>
  <ul class="tag_list">
    <% @tags.each do |tag| %>
      <li class="tag_size_3"><%= link_to h(tag.name), search_path(:q => "category:#{h(tag.name)}") -%> </li>
    <% end %>
  </ul>
<% end -%>