<% @page_title = "Projects" -%>

<ul class="project_list">
<% @projects.each do |project| -%>
  <li>
    <h3><%= link_to project.title, project_path(project) -%></h3>
    <em><%= truncate project.description, 100 -%></em>
  </li>
<% end -%>
</ul>

<% content_for :sidebar do -%>
  <ul class="links">
    <li><%= link_to "New project", new_project_path -%></li>
  </ul>
<% end -%>