<% content_for :submenu do -%>
  <ul>
    <li><%= link_to "&#x2190; Browse repository", project_repository_browse_path(@project, @repository) -%></li>
    <li><%= link_to "&#x2190; repository page", 
              project_repository_path(@project, @repository) -%></li>
    <li><%= link_to "&#x2190; project page", 
              project_path(@project) -%></li>
  </ul>
<% end -%>