<h5>Branches:</h5>
<ul class="links">
  <% @git.branches.each do |branch| -%>
  <li><%= link_to h(branch.name), log_path(branch.name) -%></li>
  <% end -%>
</ul>

<h5>Tags:</h5>
<ul class="links">
<% @git.tags.each do |tag| -%>
  <li><%= link_to h(tag.name), tree_path(tag.commit.id) -%></li>
<% end -%>
</ul>