Hello <%= @user.login %>, 

your account has been activated.  You can add your public SSH key here http://GitoriousConfig['gitorious_host']/account as well as change your details.

Thank you

http://GitoriousConfig['gitorious_host']

