Hello <%= @user.login -%>,

Your new password is: <%= @password %>

If you did not request a new password, then please do report this incident.

Thank you

http://<%= GitoriousConfig['gitorious_host'] %>