Hello <%= @user.login -%>,

<%= @cloner.login -%> recently created a clone of your <%= @repository.parent.name -%> repository in the "<%= @project.title -%>" project.

<%= @url %>

Thank you

htto://gitorious.org