Hello,

Your GitoriousConfig['gitorious_host'] account has been created, your username is <%= @user.login %>

Please visit this url to activate your account:

  <%= @url %>
  

Thank you

http://GitoriousConfig['gitorious_host']