Hello,

Your gitorious.org account has been created.

  Username: <%= @user.login %>
  Password: <%= @user.password %>

Please visit this url to activate your account:

  <%= @url %>
  

Thank you

htto://gitorious.org