<%
#--
#   Copyright (C) 2014 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= partial("admin/shared/header", {
  :app => Gitorious,
  :active => :users,
  :title => @title = "User administration",
  :description => "Manage users."
}) %>

<div class="container">
  <h2><%= @title = "Add new public SSH key" %></h2>
  <%= render "keys/form",
    ssh_key: ssh_key,
    form_action: admin_user_keys_path(user) %>
</div>
