<table class="markdown_help" style="display:none;">
  <tr>
    <td>[link](http://gitorious.org)</td>
    <td><a href="http://gitorious.org">link</a></td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;if (true)<br />&nbsp;&nbsp;&nbsp;&nbsp;return;</td>
    <td>
<pre><code>if (true)
return;</code></pre></td>
  </tr>
  <tr>
    <td>inline `code` here</td>
    <td>inline <code>code</code> here</td>
  </tr>
  <tr>
    <td>**bold**</td>
    <td><strong>bold</strong></td>
  </tr>
  <tr>
    <td>_emphasized_</td>
    <td><em>emphasized</em></td>
  </tr>
  <tr>
    <td>* item 1<br />  * item 2</td>
    <td><ul><li>item 1</li><li>item 2</li></ul></td>
  </tr>
  <tr>
    <td>1. item 1<br />  2. item 2</td>
    <td><ol><li>item 1</li><li>item 2</li></ol></td>
  </tr>
  <tr>
    <td>
      # Header 1#<br/>
      ## Header 2
      </td>
    <td>
      <h1>Header 1</h1>
      <h2>Header 2</h2>
    </td>
  </tr>
</table>
