<h1>About Gitorious</h1>

<p><strong><a href="/p/gitorious">Gitorious</a> aims to provide a great way of doing distributed opensource 
  code collaboration</strong></p>
  
<h3>The idea</h3>
<p>Traditional code- and project forgeries offer many great things and has without a 
  question helped developers of open source software. However, there's always the 
  issue of long-term maintainability; as humans we always get distracted, busy and 
  or just plain tired of working with things in the long run.</p>

<p>Centralized version control is great because it provides versioning, however
  it does have some inherit problems that become especially obvious with the above, 
  particular for open source projects: <em>Who do we give access to? 
  Who gives access if the admin(s) isn't around? Where does the code live now?</em></p>

<p>Distributed version control provides a way around this, because every "checkout", 
  "clone" or "working copy" is a full repository. If someone else has a better or
  more up to date repository, we can just pull from that instead. Or if we don't
  want to give <em>commit bits</em> to any random person, he/she can just work on 
  whatever particular thing he/she likes in another repository clone. And if people 
  like, or need, that repository better, they can just pull from that instead of 
  the "mainline" repository.</p>
  
<p><strong><a href="/p/gitorious">Gitorious</a></strong> provides a way of keeping 
  track of all these clones by being slightly centralized (but in no means absolute) 
  so you as a project admin, or member, can get an overview of what people do with your 
  project and communicate and collaborate with them. Or start contributing right 
  away!</p>
  
<p>If you have ideas for improvements or technical issues please do stop by the 
  <a href="http://groups.google.com/group/gitorious">discussion group</a>, Gitorious 
  is an open source project still under development and steady improvements.</p>
  
<p>Regards,<br /><a href="/users/johan">Johan Sørensen</a></p>


