<h1>About Gitorious</h1>

<p><strong><a href="/p/gitorious">Gitorious</a> aims to provide a great way of doing distributed opensource 
  code collaboration</strong></p>
  
<h3>The idea</h3>
<p>Traditional code- and project forgeries offer many great things and has without 
  a question helped developers of open source software. However, there's always 
  the issue of long-term maintainability; as humans we always get distracted, 
  busy and or just plain tired of working with things in the long run.</p>
  
<p>Distributed version control provides a way around this by making everyones 
  copy a full repository, so if people like someone elses stuff better, or 
  that someone else is actively maintaining the project they can just pull from 
  that person instead of the "official" repository. And if the project 
  maintainer decides to, he can pull those changes into his mainline branch. 
  That's what makes open source great.</p>
  
<p><strong><a href="/p/gitorious">Gitorious</a></strong> provides a 
  way of keeping track of these clones easily by:</p>
  
<ul class="bullet_list">
	<li>Seeing what they're doing</li>
	<li>Knowing where they can be found</li>
	<li>Allowing anyone to contribute without being blessed with "commit bits"</li>
	<li>Making it easier for maintainers to accept contributions</li>
</ul>
  
<p>Gitorious still under development and there's many many more things I'd like 
  to do with it. If you have ideas for improvements or technical issues please 
  do stop by the <a href="http://groups.google.com/group/gitorious">discussion group</a>.</p>
  
<p>
  Regards,<br />
  <a href="/users/johan">Johan Sørensen</a><br />
  <small>Gitorious.org maintainer</small>
</p>

<h2>FAQ</h2>

<h4>Why do I need to upload my public SSH key?</h4>
<p>
  When you push to a Git repository, your public key is how we authenticate 
  you and if have the permissions required to do a commit to a given repository
</p>

