<div class="section">
  <a name="contact"></a><h1>Contact Info</h1>
  <p>
    If you experience any technical issues feel free to  
    <a href="mailto:johan@johansorensen.com">send an email</a>, there's also the 
    <a href="http://groups.google.com/group/gitorious">discussion group</a> for more
    general Gitorious discussions around Gitorious. There's also the 
    <a href="irc://irc.freenode.net/gitorious"><code>#gitorious</code></a> IRC 
    channel on FreeNode.
  </p>
</div>

<% content_for :sidebar do -%>
  <ul class="links">
    <%= render "meta_links" -%>
  </ul>
<% end -%>