<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<%= partial("admin/shared/header", {
        :app => Gitorious,
        :active => :users,
        :title => @title = "User administration",
        :description => "Manage users."
      }) %>

<div class="container">
  <h2>Create a new user </h2>
  <%= error_messages(user) %>
  <%= form_for user, :as => user, :url => admin_users_path do |f| -%>
    <%= render :partial => "admin/users/form", :locals => { :form => f } %>
  <% end -%>
</div>
