.highlighted .blackboard .LatexSupport {
   color: #FBDE2D;
}
.highlighted .blackboard .OcamlInfixOperator {
   color: #8DA6CE;
}
.highlighted .blackboard .MetaFunctionCallPy {
   color: #BECDE6;
}
.highlighted .blackboard .Superclass {
   color: #FF6400;
   font-style: italic;
}
.highlighted .blackboard .Constant {
   color: #D8FA3C;
}
.highlighted .blackboard {
   background-color: #0C1021;
   color: #F8F8F8;
}
.highlighted .blackboard .OcamlFPConstant {
   text-decoration: underline;
}
.highlighted .blackboard .OcamlFPInfixOperator {
   text-decoration: underline;
}
.highlighted .blackboard .Support {
   color: #8DA6CE;
}
.highlighted .blackboard .OcamlOperator {
   color: #F8F8F8;
}
.highlighted .blackboard .Storage {
   color: #FBDE2D;
}
/*.highlighted .blackboard .line-numbers {
   background-color: #253B76;
   color: #FFFFFF;
}*/
.highlighted .blackboard .StringInterpolation {
   color: #FF6400;
}
.highlighted .blackboard .InvalidIllegal {
   background-color: #9D1E15;
   color: #F8F8F8;
}
.highlighted .blackboard .PlistUnquotedString {
   color: #FFFFFF;
}
.highlighted .blackboard .OcamlVariant {
   color: #D5E0F3;
}
.highlighted .blackboard .MetaTag {
   color: #7F90AA;
}
.highlighted .blackboard .LatexEnvironment {
   background-color: #F7F7F8;
}
.highlighted .blackboard .OcamlFPPrefixOperator {
   text-decoration: underline;
}
.highlighted .blackboard .OcamlPrefixOperator {
   color: #8DA6CE;
}
.highlighted .blackboard .EntityNameSection {
   color: #FFFFFF;
}
.highlighted .blackboard .String {
   color: #61CE3C;
}
.highlighted .blackboard .Keyword {
   color: #FBDE2D;
}
.highlighted .blackboard .LatexEnvironmentNested {
   background-color: #7691F3;
}
.highlighted .blackboard .InvalidDeprecated {
   color: #AB2A1D;
   font-style: italic;
}
.highlighted .blackboard .Variable {
}
.highlighted .blackboard .Entity {
   color: #FF6400;
}
.highlighted .blackboard .Comment {
   color: #AEAEAE;
}
