.highlighted .dawn .MetaSeparator {
   font-weight: bold;
   background-color: #DCDCDC;
   color: #19356D;
}
.highlighted .dawn .SupportVariable {
   color: #234A97;
}
.highlighted .dawn .Constant {
   font-weight: bold;
   color: #811F24;
}
.highlighted .dawn .EmbeddedSource {
   background-color: #829AC2;
}
.highlighted .dawn .StringRegexpConstantCharacterEscape {
   font-weight: bold;
   color: #811F24;
}
.highlighted .dawn .Support {
   color: #691C97;
}
.highlighted .dawn .MarkupList {
   color: #693A17;
}
.highlighted .dawn .Storage {
   color: #A71D5D;
   font-style: italic;
}
/*.highlighted .dawn .line-numbers {
   background-color: #7496CF;
   color: #000000;
}*/
.highlighted .dawn .StringConstant {
   font-weight: bold;
   color: #696969;
}
.highlighted .dawn .MarkupUnderline {
   text-decoration: underline;
   color: #080808;
}
.highlighted .dawn .MarkupHeading {
   font-weight: bold;
   color: #19356D;
}
.highlighted .dawn .SupportConstant {
   color: #B4371F;
}
.highlighted .dawn .MarkupQuote {
   background-color: #C5C5C5;
   color: #0B6125;
   font-style: italic;
}
.highlighted .dawn .StringRegexpSpecial {
   font-weight: bold;
   color: #CF5628;
}
.highlighted .dawn .InvalidIllegal {
   background-color: #B52A1D;
   color: #F8F8F8;
   font-style: italic;
}
.highlighted .dawn .MarkupDeleted {
   color: #B52A1D;
}
.highlighted .dawn .MarkupRaw {
   background-color: #C5C5C5;
   color: #234A97;
}
.highlighted .dawn .SupportFunction {
   color: #693A17;
}
.highlighted .dawn .PunctuationSeparator {
   color: #794938;
}
.highlighted .dawn .StringRegexp {
   color: #CF5628;
}
.highlighted .dawn .StringEmbeddedSource {
   background-color: #829AC2;
   color: #080808;
}
.highlighted .dawn .MarkupLink {
   color: #234A97;
   font-style: italic;
}
.highlighted .dawn .MarkupBold {
   font-weight: bold;
   color: #080808;
}
.highlighted .dawn .StringVariable {
   color: #234A97;
}
.highlighted .dawn .String {
   color: #0B6125;
}
.highlighted .dawn .Keyword {
   color: #794938;
}
.highlighted .dawn {
   background-color: #F5F5F5;
   color: #080808;
}
.highlighted .dawn .MarkupItalic {
   color: #080808;
   font-style: italic;
}
.highlighted .dawn .InvalidDeprecated {
   font-weight: bold;
   color: #B52A1D;
}
.highlighted .dawn .Variable {
   color: #234A97;
}
.highlighted .dawn .Entity {
   color: #BF4F24;
}
.highlighted .dawn .Comment {
   color: #5A525F;
   font-style: italic;
}
