.highlighted .iplastic .Constant {
   color: #6782D3;
}
.highlighted .iplastic .Support {
   font-weight: bold;
   color: #3333FF;
}
.highlighted .iplastic .EmbeddedSource {
   background-color: #F9F9F9;
   color: #000000;
}
.highlighted .iplastic .Arguments {
   font-style: italic;
}
.highlighted .iplastic .TypeName {
   font-weight: bold;
}
.highlighted .iplastic .Identifier {
   color: #9700CC;
}
.highlighted .iplastic .Number {
   color: #0066FF;
}
.highlighted .iplastic .SectionName {
   font-weight: bold;
}
.highlighted .iplastic .Storage {
   font-weight: bold;
}
/*.highlighted .iplastic .line-numbers {
   background-color: #BAD6FD;
   color: #000000;
}*/
.highlighted .iplastic {
   background-color: #EEEEEE;
   color: #000000;
}
.highlighted .iplastic .FrameTitle {
   font-weight: bold;
   color: #000000;
}
.highlighted .iplastic .TagName {
   font-weight: bold;
}
.highlighted .iplastic .Tag {
   color: #0033CC;
}
.highlighted .iplastic .Exception {
   color: #990000;
}
.highlighted .iplastic .XmlDeclaration {
   color: #333333;
}
.highlighted .iplastic .TrailingWhitespace {
   background-color: #EEEEEE;
}
.highlighted .iplastic .TagAttribute {
   color: #3366CC;
   font-style: italic;
}
.highlighted .iplastic .Invalid {
   background-color: #E7342D;
   color: #FF0000;
}
.highlighted .iplastic .Keyword {
   color: #0000FF;
}
.highlighted .iplastic .String {
   color: #009933;
}
.highlighted .iplastic .Comment {
   color: #0066FF;
   font-style: italic;
}
.highlighted .iplastic .FunctionName {
   color: #FF8000;
}
.highlighted .iplastic .RegularExpression {
   color: #FF0080;
}
