.highlighted .spacecadet .Constant {
   color: #BF9960;
}
.highlighted .spacecadet .Support {
   color: #8A4B66;
}
.highlighted .spacecadet .InheritedClass {
   font-style: italic;
}
.highlighted .spacecadet .LibraryVariable {
}
.highlighted .spacecadet .Storage {
   color: #9EBF60;
}
/*.highlighted .spacecadet .line-numbers {
   background-color: #40002F;
   color: #FFFFFF;
}*/
.highlighted .spacecadet {
   background-color: #0D0D0D;
   color: #DDE6CF;
}
.highlighted .spacecadet .TagName {
}
.highlighted .spacecadet .Exception {
   color: #893062;
}
.highlighted .spacecadet .LibraryConstant {
}
.highlighted .spacecadet .Invalid {
   background-color: #5F0047;
}
.highlighted .spacecadet .LibraryClassType {
}
.highlighted .spacecadet .TagAttribute {
}
.highlighted .spacecadet .Keyword {
   color: #728059;
}
.highlighted .spacecadet .String {
   color: #805978;
}
.highlighted .spacecadet .Entity {
   color: #6078BF;
}
.highlighted .spacecadet .Variable {
   color: #596380;
}
.highlighted .spacecadet .Comment {
   color: #473C45;
}
