<p class="footer-blurb">
  <% if blurb = Gitorious::Configuration.get("footer_blurb") %>
    <%= blurb %>
  <% else %>
    <a href="http://gitorious.com">Professional Gitorious services</a> - Git
    hosting at your company, custom features, support and more.
    <a href="http://gitorious.com">gitorious.com</a>.
  <% end %>
</p>
