<p id="gitorious-com">
  <a href="http://gitorious.com">Professional Gitorious services</a> - Git
  hosting at your company, custom features, support and more.
  <a href="http://gitorious.com">gitorious.com</a>.
</p>
