<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= @page_title ? @page_title + " - " : "" -%>KeyserSource</title>
	<meta name="author" content="Johan Sørensen">
	<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/base.css" type="text/css" media="screen, projection">
	<% if RAILS_ENV == "development" && !params[:no_grid] -%>
	  <style type="text/css" media="screen">
        .container { background: url("/stylesheets/blueprint/lib/img/grid.png"); }
	  </style>
	<% end -%>
</head>
<body>
  <div class="container">
    <div id="top" class="column span-14 first last">      
      <div id="logo">
        <h2>logo</h2>
      </div>
      <div class="login-logout">
        <p>(
          <%- if logged_in? -%>
            <%= link_to "logout", logout_path -%>
          <%- else -%>
            <%= link_to "login", login_path -%>
          <%- end -%>
        )</p>
      </div>
      
      <ul id="mainmenu" class="column span-14 first last">
        <li class="first"><%= link_to "Projects", projects_path -%></li>
        <li><%= link_to "Tasks" -%></li>
        <li><%= link_to "Repositories" -%></li>
        <li><%= link_to "Members" -%></li>
      </ul>
    </div>
    
    <div id="main" class="column span-11 first">
      <%= yield -%>
    </div>

    <div id="sidebar" class="column span-3 last">
      <%= yield :sidebar -%>
    </div>

    <div id="footer" class="column span-14 first last">
      <p class="small">
        <a href="">This is the footer</a>
      </p>
    </div>
  </div>
</body>
</html>
