<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<div class="container">
  <p class="pull-right gts-powered-by">
    <a href="http://getgitorious.com">
      <img alt="Powered by Gitorious" src="/assets/poweredby.png" title="Powered by Gitorious">
    </a>
  </p>
  <div class="row-fluid">
    <% links = Gitorious::View.footer_links(defined?(main_app) ? main_app : self, current_site)
       links.each_slice((links.length / 3.0).ceil) do |slice| %>
      <div class="span3">
        <ul>
          <% slice.each do |link| %>
          <li><a href="<%= link[1] %>"><%= link[0] %></a></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <p>
    Gitorious is free software licensed under
    the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero
      General Public License (AGPL)</a> unless noted otherwise.
    GIT is a trademark of Software Freedom Conservancy and Gitorious' use of
    "GIT" is under license.
  </p>
  <p class="gts-com-plug">
    <a href="http://gitorious.com">Professional Gitorious services</a> - Git
    hosting at your company, custom features, support and more.
    <a href="http://gitorious.com">gitorious.com</a>.
  </p>
</div>
